@use '../essence' as *;

$-btn-height-xs: rem(24px);
$-btn-height-sm: rem(32px);
$-btn-height-md: rem(36px);
$-btn-height-lg: rem(44px);
$-btn-height-xl: rem(60px);

$-colors: (primary, success, warning, harmful, private, teal, pink, purple);

@mixin text-button($color: neutral) {
  @include fgvar(btn, $color, 6);
  @include bgvar(btn, $color, 0);
  @include bgvar(hover, $color, 1);
  @include linesd($color, 2, $ndef: false);

  .tm-dark &,
  .tm-oled & {
    @include fgvar(btn, $color, 3);
    @include bgvar(btn, neutral, 8);
    @include bgvar(hover, neutral, 7);
    @include linesd($color, 7, $ndef: false);
  }

  &:disabled,
  &._disable {
    @include fgvar(btn, $color, 4);
    @include bgvar(btn, neutral, 2);
    @include bgvar(hover, neutral, 2);
    @include linesd(neutral, 2);

    .tm-dark &,
    .tm-oled & {
      @include fgvar(btn, $color, 6);
      @include bgvar(btn, neutral, 8);
      @include bgvar(hover, neutral, 8);
      @include linesd(neutral, 8);
    }
  }
}

@mixin fill-button($color: neutral) {
  @include fgvar(btn, white);
  @include bgvar(btn, $color, 5);
  @include bgvar(hover, $color, 4);
  @include linesd(color($color, 6, 3), $ndef: false);

  .tm-dark &,
  .tm-oled & {
    @include fgvar(btn, $color, 1);
    @include bgvar(btn, $color, 7);
    @include bgvar(hover, $color, 6);
    @include linesd($color, 6, $ndef: false);
  }

  &._disable,
  &:disabled {
    @include fgvar(btn, $color, 2);
    @include bgvar(btn, $color, 4);
    @include bgvar(hover, $color, 4);
    @include linesd($color, 4);

    .tm-dark &,
    .tm-oled & {
      @include fgvar(btn, $color, 6);
      @include bgvar(btn, $color, 8);
      @include bgvar(hover, $color, 8);
      @include linesd($color, 8);
    }
  }
}

.m-btn {
  --height: #{$-btn-height-md};
  --gutter: var(--gutter-pm);
  --innerh: calc(var(--height) - var(--gutter) - var(--gutter));

  display: inline-flex;
  justify-content: center;

  min-width: var(--height);

  // text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border: 0;

  padding: var(--gutter);
  height: var(--height);
  line-height: var(--innerh);
  font-size: var(--ftsize, #{ftsize(md)});
  @include bdradi;

  color: var(--fg-btn);
  background: var(--bg-btn);

  &:hover,
  &._active {
    background: var(--bg-hover);
  }

  &:disabled,
  &._disable {
    // prettier-ignore
    @include hover { cursor: text; }
  }

  .m-icon,
  .-ico {
    display: block;
    --icon-size: var(--innerh, 1.25em);
  }

  > span,
  .-txt {
    margin: 0 calc(var(--gutter) * 0.5);
  }
}

.m-btn {
  @include linesd(--bd-main);
  @include text-button(neutral);

  @each $color in $-colors {
    &._#{'' + $color} {
      @include text-button($color);
    }
  }
}

.m-btn._fill {
  @include fill-button(neutral);

  @each $color in $-colors {
    &._#{'' + $color} {
      @include fill-button($color);
    }
  }
}

.m-btn._xs {
  --height: #{$-btn-height-xs};
  --gutter: 0.375rem;
  --ftsize: #{ftsize(xs)};
}

.m-btn._sm {
  --height: #{$-btn-height-sm};
  --gutter: var(--gutter-pm);
  --ftsize: #{ftsize(sm)};
}

.m-btn._lg {
  --height: #{$-btn-height-lg};
  --gutter: var(--gutter-pl);
  --ftsize: #{ftsize(lg)};
}

.m-btn._xl {
  --height: #{$-btn-height-xl};
  --gutter: var(--gutter-ts);
  --ftsize: #{ftsize(xl)};
}

.m-as-btn {
  display: inline;
  background: none;
  color: inherit;
}
