@use '../essence' as *;
@use 'sass:math';

$height: 1.875rem;

.m-chips {
  @include flow();
  margin-right: -0.375rem;
  margin-bottom: -0.375rem;

  > * {
    float: left;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
  }
}

// prettier-ignore
.m-chip {
  display: inline-flex;
  align-items: center;
  gap: .25rem;

  border-radius: math.div($height, 2);
  background: none;
  padding: 0 0.5rem;

  color: var(--color);
  font-weight: 500;
  height: $height;

  @include linesd(--bd-main);
  @include bps(font-size, rem(12px), rem(13px), rem(14px));

  --color: #{color(gray, 6)};

  @each $type, $color in $color-mapping {
    &._#{$type} { --color: #{color($color, 6)}; }
  }

  &._caps {
    @include bps(font-size, rem(10px), rem(11px), rem(12px));
    text-transform: uppercase;
  }

  &:hover,
  &._active {
    @include linesd(--color, $ndef: false);
  }

  @include tm-dark {
    --color: #{color(gray, 4)};

    @each $type, $color in $color-mapping {
      &._#{$type} { --color: #{color($color, 4)}; }
    }
  }

  &._xs {
    padding: 0 .375rem;
    @include ftsize(xs);
    height: 1.5rem;
  }

  &._sort {
    height: 1.75rem;
    line-height: 1.75rem;
    &:hover, &._active {
      --color: #{color(primary, 5)};
    }
  }
}
