@use '../essence' as *;

form-group {
  display: flex;
  margin-top: 2rem;

  flex-direction: column;
  gap: 2rem;
  @include bp-min(ts) {
    gap: 0.75rem;
    flex-direction: row;
  }

  &.action {
    @include border($loc: top);
    justify-content: center;
    padding-top: 1rem;
  }
}

form-field {
  display: block;
  position: relative;
  flex: 1;

  margin-top: 0.2rem;

  .m-input {
    width: 100%;
  }

  .form-label {
    position: absolute;
    // background-color: inherit;
    bottom: 100%;
    // transition: all 0.1s ease-in-out;
    // left: 0.75rem;
  }
}

.form-field {
  margin-top: 1rem;
}

.m-radio,
.m-tag {
  input[type='radio'] {
    display: none;
  }
}

.form-label {
  display: block;
  line-height: 1rem;
  padding-bottom: 0.375rem;

  font-weight: 500;
  font-size: rem(15px);

  user-select: none;
  @include fgcolor(secd);

  &._inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

label.m-tag {
  @include flex-ca($gap: 0.125rem);
  height: 1.75rem;

  padding: 0 0.5rem;
  @include bps(font-size, rem(12px), rem(13px), rem(14px));

  &._active {
    background: var(--bdcolor);
    outline: var(--bgcolor) 3px solid;
  }

  .icon > svg {
    width: 1.125rem;
    height: 1.125rem;
    margin-top: -0.125rem;
  }
}

// .form-field {
//   margin: 0.75rem 0;

//   > input {
//     width: 100%;
//   }

// }

// .form-label {
//   display: block;
//   // text-transform: uppercase;
//   font-weight: 500;
//   line-height: 1.5rem;
//   margin-bottom: 0.25rem;
//   @include ftsize(sm);
//   @include fgcolor(secd);
// }

.form-error {
  text-align: center;
  @include fgcolor(harmful, 5);
  @include ftsize(md);
}

.form-action {
  @include flex-cx;
  margin-top: 0.75rem;
}

.form-message {
  text-align: center;
  font-size: rem(15px);
  line-height: 1.25rem;

  &._err {
    @include fgcolor(harmful, 5);
  }

  &._ok {
    @include fgcolor(success, 5);
  }
}
