@use '../essence' as *;

.m-field {
  display: block;
  position: relative;
  width: 100%;

  > :where(.-ico, svg, img) {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.m-input {
  line-height: 1.5rem;
  outline: 0;
  padding: 0.375rem 0.75rem;

  @include fgcolor(main);
  @include bgcolor(main);

  @include bdradi();
  @include border();

  @include hover-focus {
    @include bdcolor(primary, 5);
    // box-shadow: 0 0 0 1px color(primary, 5, 5);
  }

  &[type='search'] {
    border-radius: 2rem;
  }

  &:focus,
  &:focus-within {
    @include bgcolor(tert);
    box-shadow: 0 0 0 1px color(primary, 5, 5);
  }

  &::placeholder {
    font-style: italic;
    @include fgcolor(tert);
  }

  &:disabled {
    @include fgcolor(mute);
    @include bgcolor(mute);
    border-color: var(--bg-mute);
  }

  &._error {
    @include bdcolor(harmful, 5);
  }
}

textarea {
  overflow-y: scroll;
  min-height: 2.25rem;
}

.m-input._sm {
  padding: var(--gutter-ps) var(--gutter-ts);
  line-height: 1.25rem;
  height: 2rem;
}

.m-input._xs {
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  height: 1.5rem;
  @include ftsize(xs);
}

.m-input._lg {
  padding: var(--gutter-pl) var(--gutter-ts);
  line-height: 1.75rem;
  height: 3rem;
  @include ftsize(lg);
}

.form-inp {
  & + & {
    margin-top: 0.75rem;
  }

  .m-input {
    display: block;
    width: 100%;
  }
}

.form-lbl {
  display: block;
  // text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
  @include ftsize(md);
  @include fgcolor(neutral, 5);
}

.form-btns {
  margin-top: 1.25rem;
  text-align: center;
}

.form-more {
  margin-top: 1.25rem;
  @include flex($center: horz, $gap: 0.75rem);
}

// prettier-ignore
.form-msg {
  margin-top: .75rem;
  line-height: 1.25rem;
  font-style: italic;

  @include fgcolor(tert);
  @include ftsize(sm);

  &._ok { @include fgcolor(success, 5); }

  &._err { @include fgcolor(harmful, 5); }

}
