@use '../essence' as *;

.m-label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;

  font-weight: 500;
  cursor: pointer;

  color: var(--color, #{color(neutral, 5)});
  box-shadow: 0 0 0 1px var(--bdcolor, #{color(neutral, 2)}) inset;
  background: var(--bgcolor, #{color(neutral, 1)});

  font-size: rem(13px);
  @include bdradi(0.75rem);

  @include tm-dark($svelte: false) {
    --color: #{color(neutral, 3)};
    --bdcolor: #{color(neutral, 5, 5)};
    --bgcolor: #{color(neutral, 5, 3)};
  }

  &._sm {
    font-size: rem(12px);
    padding: 0 0.375rem;
    line-height: 1.25rem;
    // height: 1.25rem;
  }

  &._1 {
    --color: #{color(success, 5)};
    --bdcolor: #{color(success, 2)};
    --bgcolor: #{color(success, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(success, 3)};
      --bdcolor: #{color(success, 5, 5)};
      --bgcolor: #{color(success, 5, 3)};
    }
  }

  &._2 {
    --color: #{color(primary, 5)};
    --bdcolor: #{color(primary, 2)};
    --bgcolor: #{color(primary, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(primary, 3)};
      --bdcolor: #{color(primary, 5, 5)};
      --bgcolor: #{color(primary, 5, 3)};
    }
  }

  &._3 {
    --color: #{color(private, 5)};
    --bdcolor: #{color(private, 2)};
    --bgcolor: #{color(private, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(private, 3)};
      --bdcolor: #{color(private, 5, 5)};
      --bgcolor: #{color(private, 5, 3)};
    }
  }

  &._4 {
    --color: #{color(warning, 5)};
    --bdcolor: #{color(warning, 2)};
    --bgcolor: #{color(warning, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(warning, 3)};
      --bdcolor: #{color(warning, 5, 5)};
      --bgcolor: #{color(warning, 5, 3)};
    }
  }

  &._5 {
    --color: #{color(harmful, 5)};
    --bdcolor: #{color(harmful, 2)};
    --bgcolor: #{color(harmful, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(harmful, 3)};
      --bdcolor: #{color(harmful, 5, 5)};
      --bgcolor: #{color(harmful, 5, 3)};
    }
  }

  &._5 {
    --color: #{color(private, 5)};
    --bdcolor: #{color(private, 2)};
    --bgcolor: #{color(private, 1)};

    @include tm-dark($svelte: false) {
      --color: #{color(private, 3)};
      --bdcolor: #{color(private, 5, 5)};
      --bgcolor: #{color(private, 5, 3)};
    }
  }
}
