@use '../essence' as *;

.nav-list {
  @include flex-ca($gap: 0.5em);
  @include bps(font-size, rem(13px), $pl: rem(14px), $ts: rem(15px), $tm: 1rem);

  flex-wrap: wrap;
  line-height: 1em;
}

.nav-link {
  @include flex-ca;

  @include clamp($width: null);
  @include fgcolor(tert);
  gap: 0.25rem;

  padding: 0.5em 0.375em;
  font-weight: 500;

  @include linesd(--bd-main);
  @include bdradi();

  @include bps(height, 1.75rem, $pl: 2rem);

  &._active,
  &:hover {
    @include fgcolor(primary, 6);
    @include linesd(primary, 5, $ndef: false);
  }
}

.nav-icon {
  @include bps(width, rem(18px), $ts: rem(17px), $tm: 1rem);
  @include bps(height, rem(18px), $ts: rem(17px), $tm: 1rem);
}

.chip-list {
  @include flex-ca($gap: 0.5em);

  line-height: 1em;
  @include ftsize(sm);

  // @include bps(font-size, rem(13px), $pl: rem(14px), $ts: rem(15px), $tm: 1rem);
  // @include bps(height, 1.75rem, $pl: 2rem);
}

.chip-link {
  display: inline-flex;
  align-items: center;

  @include fgcolor(tert);
  @include linesd(--bd-main);

  padding: 0.5em 0.75em;
  line-height: 1;
  gap: 0.25rem;

  margin: 0;
  font-weight: 500;
  border-radius: 1em;
  background: inherit;

  @include ftsize(xs);

  @include bp-min(tm) {
    @include ftsize(sm);
  }

  &._active,
  &:hover {
    @include fgcolor(primary, 6);
    @include linesd(primary, 5, $ndef: false);
  }
}

.chip-text {
  display: inline-flex;
  @include fgcolor(tert);
  text-transform: uppercase;
  font-size: 0.825em;
  font-weight: 500;
}

.chip-icon {
  @include bps(width, rem(18px), $ts: rem(17px), $tm: 1rem);
  @include bps(height, rem(18px), $ts: rem(17px), $tm: 1rem);
}
