@use '../essence' as *;

@mixin tooltip {
  padding: 0.375rem;
  line-height: 1.25em;
  font-family: var(--font-sans);

  z-index: 99999;
  text-transform: initial;
  color: var(--bg-main);
  background-color: var(--fg-secd);

  @include ftsize(xs);
  @include bdradi(0.25rem);
}

tool-tip {
  @include tooltip();

  @media (pointer: coarse) {
    display: none;
  }

  width: 10rem;
  position: absolute;
  display: inline-block;
  text-align: center;

  top: 0;
  left: 0;

  margin-left: -5rem;

  @include shadow();
  // @include linesd(--bd-secd, $ndef: false);

  &:after {
    display: block;
    position: absolute;
    content: ' ';
    bottom: 100%;
    left: 50%;
    margin-left: -0.375rem;

    border: 0.375rem solid transparent;
    border-bottom-color: var(--fg-secd);
  }
  // margin-left: 50%;
  // transform: translateX(-50%);
}

[data-tip] {
  display: run-in;

  @include after($display: none, $abs: true, $content: attr(data-tip)) {
    @include tooltip();
    white-space: nowrap;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
  }

  @include hover {
    &:after {
      display: flex;
    }
  }
}

[data-tip][data-tip-loc='bottom']:after {
  bottom: unset;
  top: 100%;
}

[data-tip][data-tip-pos='left']:after {
  margin-left: 0;
  transform: unset;
}

[data-tip][data-tip-pos='right']:after {
  right: 0;
  left: unset;
  margin-left: 0;
  transform: unset;
}

.kbd-hint [data-kbd] {
  // overflow: auto !important;

  @include before($display: block, $abs: true, $content: attr(data-kbd)) {
    top: -0.25rem;
    right: -0.25rem;
    min-width: 1.25rem;
    text-align: center;
    padding: 0 0.25rem;
    // height: 1.25ren;
    line-height: 1.25rem;

    @include ftsize(xs);
    @include fgcolor(neutral, 6);
    @include bgcolor(warning, 2);

    // @include uppercase();
    @include bdradi(2);
    z-index: 999;
  }
}
