@use '../essence' as *;

.fg-0 {
  color: #{color(neutral, 5)};
}

.fg-1 {
  color: #{color(primary, 5)};
}

.fg-2 {
  color: #{color(success, 5)};
}

.fg-3 {
  color: #{color(warning, 5)};
}

.fg-4 {
  color: #{color(harmful, 5)};
}

.fs-i {
  font-style: italic;
}

.fw-b {
  font-weight: 500;
}

.fs-xs {
  @include ftsize(xs);
}

.fs-sm {
  @include ftsize(sm);
}

.u-fg-secd {
  @include fgcolor(secd);
}

.u-fg-tert {
  @include fgcolor(tert);
}

.u-fg-mute {
  @include fgcolor(mute);
}

.fg-link {
  @include fgcolor(primary, 6);

  &:hover {
    @include fgcolor(primary, 5);
  }
}

.u-show-pm {
  @include bps(display, none, $pm: initial);
}

.u-show-pl {
  @include bps(display, none, $pl: initial);
}

.u-show-ts {
  @include bps(display, none, $ts: initial);
}

.u-show-tm {
  @include bps(display, none, $tm: initial);
}

.u-show-tl {
  @include bps(display, none, $tl: initial);
}
