@use '../essence' as *;

.fg-0 {
  color: #{color(neutral, 5)};
}

.fg-1 {
  color: #{color(primary, 5)};
}

.fg-2 {
  color: #{color(success, 5)};
}

.fg-3 {
  color: #{color(warning, 5)};
}

.fg-4 {
  color: #{color(harmful, 5)};
}

.fs-i {
  font-style: italic;
}

.fw-b {
  font-weight: 500;
}

.fg-secd {
  @include fgcolor(secd);
}

.fg-tert {
  @include fgcolor(tert);
}

.fg-mute {
  @include fgcolor(mute);
}

.fg-link {
  @include fgcolor(primary, 6);

  &:hover {
    @include fgcolor(primary, 5);
  }
}

.show-pl {
  display: none;
  @include bp-min(pl) {
    display: initial;
  }
}

.show-ts {
  display: none;
  @include bp-min(ts) {
    display: initial;
  }
}

.show-tm {
  display: none;
  @include bp-min(tm) {
    display: initial;
  }
}
