@use '../essence' as *;

.fg-0 {
  color: #{color(neutral, 5)};
}

.fg-1 {
  color: #{color(primary, 5)};
}

.fg-2 {
  color: #{color(success, 5)};
}

.fg-3 {
  color: #{color(warning, 5)};
}

.fg-4 {
  color: #{color(harmful, 5)};
}

.u-fs-i {
  font-style: italic;
}

.u-fw-b {
  font-weight: 500;
}

.u-fz-xs {
  @include ftsize(xs);
}

.u-fz-sm {
  @include ftsize(sm);
}

.u-fz-lg {
  @include ftsize(lg);
}

.u-fg-primary {
  @include fgcolor(primary);
}

.u-fg-success {
  @include fgcolor(success);
}

.u-fg-warning {
  @include fgcolor(warning);
}

.u-fg-private {
  @include fgcolor(private);
}

.u-fg-mute {
  @include fgcolor(mute);
}

.u-fg-secd {
  @include fgcolor(secd);
}

.u-fg-tert {
  @include fgcolor(tert);
}

.u-fg-mute {
  @include fgcolor(mute);
}

.u-bg-primary {
  @include bgcolor(primary);
}

.u-bg-success {
  @include bgcolor(success);
}

.u-bg-private {
  @include bgcolor(private);
}

.u-show-pm {
  @include bps(display, none, $pm: initial);
}

.u-show-pl {
  @include bps(display, none, $pl: initial);
}

.u-show-ts {
  @include bps(display, none, $ts: initial);
}

.u-show-tm {
  @include bps(display, none, $tm: initial);
}

.u-show-tl {
  @include bps(display, none, $tl: initial);
}

.u-warn {
  @include fgcolor(warning, 5);
  // margin-bottom: 1.5rem;

  code {
    @include fgcolor(success, 6);
    // font-weight: 800;
  }
}

.u-bold {
  font-weight: 500;
}

x-sname,
.u-sname {
  display: inline;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.125em 0.25em;
  font-size: em(13, 16);

  @include fgcolor(primary, 5);
}

x-vcoin,
.x-vcoin {
  display: inline-flex;
  gap: 0.1em;
  align-items: center;
  font-weight: 500;
  @include fgcolor(warning);

  svg {
    stroke-width: 2px;
  }
}

.d-empty {
  @include flex-ca;

  min-height: 60vh;
  font-style: italic;
  flex-direction: column;

  @include fgcolor(tert);

  h2 {
    margin-bottom: 2rem;
  }
}

.d-empty-sm {
  @include flex-ca;

  flex-direction: column;
  font-style: italic;

  @include fgcolor(mute);
  @include padding-y(4.5rem);

  p {
    margin-top: 1rem;
  }
}

.d-empty-xs {
  @include flex-ca;

  gap: 0.25rem;
  padding: 0.25rem 0;

  font-style: italic;
  @include fgcolor(mute);
}

.m-flex {
  display: flex;

  &._cx {
    justify-content: center;
  }

  &._cy {
    align-items: center;
  }
}

.m-iflex {
  display: inline-flex;

  &._cx {
    justify-content: center;
  }

  &._cy {
    align-items: center;
  }
}

.fz-fluid {
  @include bps(
    font-size,
    rem(13px),
    $pm: rem(14px),
    $pl: rem(15px),
    $ts: rem(16px),
    $tm: rem(17px)
  );
}

.fz-fluid-sm {
  @include bps(
    font-size,
    rem(12px),
    $pm: rem(13px),
    $pl: rem(14px),
    $ts: rem(15px),
    $tm: rem(16px)
  );
}

.fz-fluid-lg {
  @include bps(
    font-size,
    rem(14px),
    $pm: rem(15px),
    $pl: rem(16px),
    $ts: rem(17px),
    $tm: rem(18px)
  );
}

.u-right {
  margin-left: auto;
}

.d-label {
  @include flex-cy;
  font-weight: 500;
  padding: 0.25rem 0;
  line-height: 1.25rem;
  @include ftsize(sm);
}

.x-label {
  @include flex-cy($gap: 0.25em);

  font-weight: 500;
  line-height: 1.75rem;
  // text-transform: uppercase;
  @include fgcolor(secd);

  &._sm {
    line-height: 1.5rem;
    @include ftsize(sm);
  }
}

.x-field {
  &._flex {
    display: flex;
    gap: 0.5rem;
  }

  input[type='text'] {
    display: block;
    width: 100%;
  }
}

.v-label {
  font-weight: 500;
  @include ftsize(sm);
  @include fgcolor(tert);
}

.v-field {
  font-style: italic;
  @include ftsize(sm);
  @include fgcolor(secd);
}

.m-ruler {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  // padding-top: 0.75rem;
  @include border(--bd-soft, $loc: bottom);
}

.m-viewall {
  @include fgcolor(tert);
  font-style: italic;
  font-style: 1rem;

  &:hover {
    @include fgcolor(primary);
  }

  & + & {
    margin-left: 0.5rem;
  }
}
