[Unit]
Description=yousuu-infos
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/home/nipin/www/chivi/
ExecStart=/usr/bin/ruby etc/script/yousuu/crawl_infos.rb

[Install]
WantedBy=multi-user.target
