[Unit]
Description=yousuu-infos-timer

[Timer]
OnCalendar=0/4:00:00
RandomizedDelaySec=600
OnBootSec=300
Persistent=true
Unit=yousuu-infos.service

[Install]
WantedBy=timers.target
