// credit: https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss

@use '../essence' as *;

// Code

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  direction: ltr #{'/* rtl:ignore */'};
  unicode-bidi: bidi-override;
  border-radius: var(--radius, 4px);
}

pre {
  --pre-fg: var(--fg-tert);
  --pre-bg: var(--bg-tert);

  display: block;

  font-size: var(--ftsize-code);
  color: var(--pre-fg);
  background: var(--pre-bg);

  line-height: inherit;

  code {
    display: block;
    color: inherit;
    font-size: inherit;
    word-break: normal;
    overflow: auto;
    padding: var(--gutter);
  }
}

code {
  font-size: var(--ftsize-code);
  color: var(--code-fg, #{color(blue, 6)});
  background-color: var(--code-bg, #{color(gray, 0)});
  padding: 0 0.25em;
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }

  .tm-dark &,
  .tm-oled & {
    --code-fg: #{color(blue, 3)};
    --code-bg: #{color(gray, 9)};
  }
}

kbd {
  padding: 0.125em 0.25em;
  font-size: 0.75em;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;

  @include fgcolor(tert);
  @include bgcolor(tert);
  @include border();
  @include shadow();

  > kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 500;
  }
}
