@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v29-vietnamese_latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-vietnamese_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v29-vietnamese_latin-italic.woff2') format('woff2'),
    url('../fonts/roboto-v29-vietnamese_latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v29-vietnamese_latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-vietnamese_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v29-vietnamese_latin-500italic.woff2') format('woff2'),
    url('../fonts/roboto-v29-vietnamese_latin-500italic.woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  min-width: 320px;

  // enable smooth scrolling
  // prettier-ignore
  @media (prefers-reduced-motion: no-preference) { scroll-behavior: smooth; }
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100vh;

  font-size: 1rem;
  font-weight: 400;

  line-height: var(--lh-normal);
  font-family: var(--font-sans);

  color: var(--fg-main);
  background: var(--bg-main);

  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

:focus {
  outline: 0 !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

[hidden] {
  display: none !important;
}

template {
  display: none;
}

summary {
  display: list-item;
  cursor: pointer;
}

output {
  display: inline-block;
}

svg,
img {
  overflow: hidden;
  border-style: none;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p > img {
  display: inline-block;
}
