@use "sass:map";
@use "sass:list";
@use "../vars/palette" as *;

$color-mapping: (
  neutral: gray,
  primary: blue,
  success: green,
  warning: orange,
  harmful: red,
  private: violet,
) !default;

@function opaque($color, $fade: 10) {
  @return if($fade == 10, $color, rgba($color, $fade * 10%));
}

@function color($name, $tone: 5, $fade: 10) {
  $color: map.get($color-mapping, $name) or $name;
  $value: map.get($color-palette, $color) or $color;

  @if type-of($value) == map {
    $color: map.get($value, $tone);
    // prettier-ignore
    @if type-of($color) == color { @return opaque($color, $fade); }
    @error "wrong color tone `#{$tone}`";
  } @else if type-of($value) == color {
    @return opaque($value, $fade);
  }

  @if type-of($value) != string {
    @error "unknown color #{$value}, type: #{type-of($value)}";
  } @else if str-index($value, '--') == 1 {
    @return #{var($value)};
  } @else if str-index($name, 'var(') == 1 {
    @return $name;
  } @else {
    @error "unknown color `#{$name}`";
  }
}

@function known-colors($name) {
  @return map.get($color-palette, $name) or map.get($color-mapping, $name);
}

@mixin color($prop, $name, $tone: 5, $fade: 10) {
  --#{'' + $prop}: #{color($name, $tone, $fade)};
}

@mixin fgvar($prop, $name, $tone: 5, $fade: 10) {
  --fg-#{'' + $prop}: #{color($name, $tone, $fade)};
}

@mixin bgvar($prop, $name, $tone: 5, $fade: 10) {
  --bg-#{'' + $prop}: #{color($name, $tone, $fade)};
}

$fg-labels: (main, secd, tert, mute);

@mixin fgcolor($name, $tone: 5, $fade: 10) {
  @if known-colors($name) {
    color: color($name, $tone, $fade);
  } @else if list.index($fg-labels, $name) {
    color: #{var(--fg-#{$name})};
  } @else if type-of($name) == color {
    color: $name;
  } @else {
    color: #{var(--#{$name})};
  }
}

$bg-labels: (main, secd, tert, mute);

@mixin bgcolor($name, $tone: 5, $fade: 10) {
  @if known-colors($name) {
    background-color: color($name, $tone, $fade);
  } @else if list.index($bg-labels, $name) {
    background-color: #{var(--bg-#{$name})};
  } @else if type-of($name) == color {
    background-color: $name;
  } @else {
    background-color: #{var(--#{$name})};
  }
}
