@use "sass:map";
@use "sass:list";
@use "../vars/palette" as *;

@function color($name, $tone: 5) {
  $-alias: map.get($color-mapping, $name);
  // prettier-ignore
  @if $-alias { $name: $-alias; }

  $-value: map.get($color-palette, $name);

  @if type-of($value: $-value) == map {
    $-color: map.get($-value, $tone);

    @if type-of($-color) == color {
      @return $-color;
    }

    @error "wrong color tone `#{$tone}`";
  } @else if type-of($-value) == color {
    @return $-value;
  }

  @error "unknown color `#{$name}`";
}

@function color-name($name, $tone) {
  @return '--color-#{$name}-#{$tone}';
}

@function color-var($name, $tone) {
  @return 'var(#{color-name($name, $tone)})';
}

$-labels: (main, secd, tert, mute);

@mixin fgcolor($name, $tone: 5) {
  @if list.index($-labels, $name) {
    color: #{'var(--fg-#{$name})'};
  } @else {
    color: #{color-var($name, $tone)};
  }
}

@mixin bgcolor($name, $tone: 5) {
  @if list.index($-labels, $name) {
    background-color: #{'var(--bg-#{$name})'};
  } @else {
    background-color: #{color-var($name, $tone)};
  }
}
