[Unit]
Description=chivi-server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5110
Environment=KEMAL_ENV=production
WorkingDirectory=/home/deploy/www/chivi
ExecStart=/home/deploy/www/chivi/bin/server

[Install]
WantedBy=multi-user.target
