[Unit]
Description=chivi-newsrv
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5110
Environment=AMBER_ENV=production
WorkingDirectory=/home/nipin/srv/chivi/newsrv
ExecStart=/home/nipin/srv/chivi/newsrv/bin/chivi
[Install]
WantedBy=multi-user.target
