@import '@nipin/mould/css/essence.scss';

html,
body,
#sapper,
.vessel {
  min-height: 100%;
}

#sapper {
  min-width: 320px;
}

.__shift {
  @include screen-min(lg) {
    padding-right: 30rem;
  }
}

$page-width: 54rem;

.center {
  width: $page-width;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}
