@import '@nipin/mould/css/essence.scss';

html,
body,
#sapper {
  min-height: 100%;
}

#sapper {
  min-width: 320px;
}

.vessel {
  position: relative;
  height: 100%;

  &._shift {
    @include screen-min(lg) {
      margin-right: 30rem;
    }
  }
}

$page-width: 54rem;

.center {
  width: $page-width;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}

$header-height: 3rem;
$header-inner-height: 2.25rem;
$header-gutter: ($header-height - $header-inner-height) / 2;

.header {
  position: sticky;
  z-index: 800;

  top: 0;
  left: 0;

  max-width: 100%;
  height: $header-height;

  color: #fff;
  transition: transform 0.1s ease-in-out;

  @include bgcolor(primary, 7);
  @include shadow(2);

  .__clear & {
    transform: translateY(-$header-height);
  }

  .-wrap {
    display: flex;
    padding-top: $header-gutter;
    padding-bottom: $header-gutter;
  }

  .-left,
  .-right {
    @include flex($gap: $header-gutter);
  }

  .-left {
    flex-grow: 1;
  }

  .-right {
    margin-left: auto;
    padding-left: $header-gutter;
  }
}

.header-item {
  display: inline-flex;
  position: relative;

  text-decoration: none;
  padding: 0 0.5rem;

  height: $header-inner-height;
  line-height: $header-inner-height;
  user-select: none;

  @include fgcolor(neutral, 2);
  @include bgcolor(primary, 6);

  @include radius();

  @include hover() {
    cursor: pointer;
    @include bgcolor(primary, 5);
  }

  &._active {
    @include bgcolor(primary, 5);
  }

  img,
  svg {
    margin: 0.5rem 0;
    width: 1.25rem;
    height: 1.25rem;

    & + .header-text {
      margin-left: 0.25rem;
    }
  }
}

.header-text {
  text-transform: uppercase;
  font-weight: 500;

  @include font-size(2);

  &._show-sm {
    display: none;
    @include screen-min(sm) {
      display: inline-block;
    }
  }

  &._show-md {
    display: none;
    @include screen-min(md) {
      display: inline-block;
    }
  }

  ._brand & {
    @include font-size(3);
    letter-spacing: 0.1em;
  }

  &._title {
    max-width: 40vw;
    @include truncate(null);
  }
}

.header-menu {
  position: absolute;
  display: none;
  width: 12rem;

  .header-item:hover > & {
    display: block;
    top: $header-inner-height;
    right: 0;
    @include bgcolor(#fff);
    @include shadow;
    @include radius;
    padding-bottom: 0.5rem;
  }

  .m-icon {
    margin: 0;
  }

  .-head {
    padding: 0 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
    font-weight: 500;
    @include font-size(4);
    @include fgcolor(neutral, 6);
    @include border($sides: bottom);
    // @include bgcolor(neutral, 2);
    @include radius($sides: top);

    .m-icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-top: -0.25rem;
      margin-left: -0.25rem;
    }
  }

  .-item {
    display: block;

    padding: 0 0.75rem;
    line-height: 2.25rem;
    // text-transform: uppercase;
    font-weight: 500;
    @include fgcolor(neutral, 6);

    &:hover {
      @include fgcolor(primary, 6);
      @include bgcolor(neutral, 2);
    }

    span {
      margin-left: 0.25rem;
    }
  }
}

.header-field {
  position: relative;
  padding: 0;
  // flex-grow: 1;

  cursor: text;
  border-radius: $header-inner-height / 2;
  height: $header-inner-height;
  line-height: $header-inner-height;

  > input {
    color: inherit;
    padding: 0 1rem;
    display: block;
    // font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    border-radius: $header-inner-height / 2;

    @include bgcolor(darken(color(primary, 7), 5%));

    &::placeholder {
      @include fgcolor(neutral, 5);
    }
  }

  > .m-icon {
    position: absolute;
    // display: flex;
    padding: 0;
    margin: 0;
    right: 0.875rem;
    top: 0.625rem;
    width: 1.125rem;
    height: 1.125rem;
    @include fgcolor(neutral, 5);
  }
}
