@use '../essence' as *;

// .mtl._h {
//   font-weight: 400;
//   line-height: 1.4em;
//   @include fgcolor(secd);

//   @include bps(font-size, rem(23px), rem(24px), rem(26px), rem(28px));

//   .cvdata._xs & {
//     @include bps(font-size, rem(22px), rem(23px), rem(25px), rem(27px));
//   }

//   .cvdata._lg & {
//     @include bps(font-size, rem(24px), rem(25px), rem(26px), rem(29px));
//   }
// }

// .mtl._p {
//   margin-bottom: 0;
//   text-align: justify;
//   text-justify: auto;
//   line-height: 1.7em;

//   @include bps(margin-top, 1.125em, 1.25em, 1.375em, 1.5em);

//   .cvdata._xs & {
//     @include bps(font-size, rem(16px), rem(17px), rem(18px), rem(19px));
//   }

//   .cvdata._sm & {
//     @include bps(font-size, rem(18px), rem(19px), rem(20px), rem(21px));
//   }

//   .cvdata._md & {
//     @include bps(font-size, rem(19px), rem(20px), rem(21px), rem(22px));
//   }

//   .cvdata._lg & {
//     @include bps(font-size, rem(20px), rem(21px), rem(22px), rem(23px));
//   }

//   .cvdata._xl & {
//     @include bps(font-size, rem(22px), rem(23px), rem(24px), rem(25px));
//   }
// }

// .mtl {
//   --fgcolor: #{color(gray, 8)};
//   color: var(--fgcolor);

//   @include bps(font-size, rem(16px), rem(17px), rem(18px));
//   @include bps(line-height, 1.5rem, 1.75rem);

//   & + & {
//     margin-top: 1em;
//   }

//   .tm-dark &,
//   .tm-oled & {
//     --fgcolor: #{color(gray, 3)};
//   }
// }

// @mixin cv-token($color: blue) {
//   cursor: pointer;
//   position: relative;
//   --border: #{color($color, 4)};
//   --active: #{color($color, 6)};

//   .tm-dark &,
//   .tm-oled & {
//     --border: #{color($color, 6)};
//     --active: #{color($color, 4)};
//   }

//   &:hover,
//   &._focus {
//     color: var(--active);
//     // background: var(--bg-active, inherit);
//   }
// }

// c-v {
//   --border: transparent;
//   --active: var(--fgcolor);
//   color: var(--fgcolor);

//   background: linear-gradient(to top, var(--border) 1px, transparent 0);
//   background-position: bottom bottom;

//   .mtl:hover &,
//   .mtl._active & {
//     // border-bottom: 1px solid var(--border);
//     background: linear-gradient(to top, var(--border) 1px, transparent 0);
//   }

//   .debug & {
//     background: linear-gradient(to top, var(--border) 1px, transparent 0);
//   }

//   // essence
//   &[data-d='1'] {
//     @include cv-token(gray);
//     border: 0;
//   }

//   // regular + public
//   &[data-d='2'] {
//     @include cv-token(blue);
//     color: var(--fgmain);
//     &:hover {
//       color: var(--active);
//     }
//   }

//   // unique + public
//   &[data-d='3'] {
//     @include cv-token(orange);
//   }

//   // regular + private
//   &[data-d='4'] {
//     @include cv-token(teal);
//   }

//   // unique + private
//   &[data-d='5'] {
//     @include cv-token(red);
//   }

//   c-z & {
//     cursor: pointer;
//     &:hover,
//     &._active {
//       color: var(--active);
//     }
//   }
// }

// // prettier-ignore
// @mixin cg-decor($left: '{', $right: '}') {
//   &:before, &:after {
//     // font-family: var(--font-sans);
//     font-style: normal;
//   }

//   &:before { content: $left; }
//   &:after { content: $right; }
// }

// @mixin cg-color($color) {
//   --color: #{color($color, 5)};
//   // margin: 0 0.1em;
//   // padding: 0.2em -0.1em;

//   .debug & {
//     background: none !important;
//   }

//   .debug & c-v {
//     // --active: var(--color);
//     color: var(--color);
//     &:hover {
//       color: var(--active);
//     }
//   }
// }

// c-g {
//   --color: var(--fgmain);

//   // .mtl:hover &,
//   // .mtl._active & {
//   //   background: linear-gradient(180deg, var(--color) 1px, transparent 0%);
//   // }

//   // .mtl:hover & &,
//   // .mtl._active & & {
//   //   background: linear-gradient(
//   //     180deg,
//   //     transparent 2px,
//   //     var(--color) 4px,
//   //     transparent 0%
//   //   );
//   // }

//   // .mtl:hover & & &,
//   // .mtl._active & & & {
//   //   background: linear-gradient(
//   //     180deg,
//   //     transparent 4px,
//   //     var(--color) 6px,
//   //     transparent 0%
//   //   );
//   // }

//   // .mtl:hover & & & &,
//   // .mtl._active & & & & {
//   //   background: linear-gradient(
//   //     180deg,
//   //     transparent 6px,
//   //     var(--color) 8px,
//   //     transparent 0%
//   //   );
//   // }

//   .debug & {
//     // c-v,
//     &:before,
//     &:after {
//       color: var(--color);
//     }

//     // @include cg-decor('⟨', '⟩');
//     @include cg-decor('[', ']');
//     // > c-g {
//     //   @include cg-decor('[', ']');
//     // }
//     // > c-g > c-g {
//     //   @include cg-decor('(', ')');
//     // }
//     // > c-g > c-g > c-g {
//     //   @include cg-decor('<', '>');
//     // }
//   }

//   &[data-d='0'] {
//     @include cg-decor('', '');
//   }

//   &[data-d='1'] {
//     @include cg-color(gray);
//     @include cg-decor('', '');
//   }

//   &[data-d='2'] {
//     @include cg-color(green);
//   }

//   &[data-d='3'] {
//     @include cg-color(blue);
//   }

//   &[data-d='4'] {
//     @include cg-color(teal);
//   }

//   &[data-d='5'] {
//     @include cg-color(orange);
//   }

//   &[data-d='6'] {
//     @include cg-color(fuchsia);
//   }

//   &[data-d='7'] {
//     @include cg-color(purple);
//   }

//   &[data-d='8'] {
//     @include cg-color(pink);
//   }

//   &[data-d='9'] {
//     @include cg-color(red);
//   }
// }

x-t,
x-p,
x-v {
  display: inline-block;
  padding: 0 0.5em;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include ftsize(sm);
  @include linesd(--bd-main);
}

x-t {
  @include bdradi();
}
