@use '../essence' as *;

@mixin cv-token($color: blue) {
  cursor: pointer;
  position: relative;
  --border: #{color($color, 4)};
  --active: #{color($color, 6)};

  .tm-dark &,
  .tm-oled & {
    --border: #{color($color, 6)};
    --active: #{color($color, 4)};
  }
}

.cvdata {
  min-height: 50vh;
  padding: var(--verpad) var(--gutter);

  @include bps(margin-left, calc(-1 * var(--gutter)), $lg: 0);
  @include bps(margin-right, calc(-1 * var(--gutter)), $lg: 0);

  @include bdradi();
  @include fgcolor(secd);
  @include bgcolor(tert);
  @include shadow(1);

  .adsbygoogle {
    margin-top: 1rem;
  }

  .mtl._h {
    font-weight: 400;
    @include fgcolor(secd);
    @include bps(line-height, 1.75rem, 1.875rem, 2rem, 2.25rem, 2.5rem);
    @include bps(font-size, rem(23px), rem(24px), rem(26px), rem(28px));
    // prettier-ignore
    @include bp-max(xs) { font-size: rem(22px); }
  }

  .mtl._p {
    margin-bottom: 0;
    text-align: justify;
    text-justify: auto;

    @include bps(margin-top, 1rem, 1.125rem, 1.25rem, 1.375rem, 1.5rem);
    @include bps(font-size, rem(19px), rem(20px), rem(21px), rem(22px));
    @include bps(line-height, 1.75rem, 1.875rem, 2rem, 2.25rem);

    // prettier-ignore
    @include bp-max(xs) { font-size: rem(18px); }
  }
}

.mtl {
  --fgcolor: #{color(gray, 8)};
  color: var(--fgcolor);

  @include bps(font-size, rem(16px), rem(17px), rem(18px));
  @include bps(line-height, 1.5rem, 1.75rem);

  & + & {
    margin-top: 1rem;
  }

  .tm-dark &,
  .tm-oled & {
    --fgcolor: #{color(gray, 3)};
  }

  &:hover,
  &._active {
    c-v {
      border-bottom: 1px solid var(--border);
    }
  }

  c-v {
    --border: transparent;
    --active: var(--fgcolor);
    color: var(--fgcolor);
  }

  c-v:hover,
  c-v._focus {
    color: var(--active);
  }

  // c-v[data-d='1']) {
  //   @include cv-token(gray);
  // }

  c-v[data-d='2'] {
    @include cv-token(blue);
  }

  c-v[data-d='3'] {
    @include cv-token(green);
  }

  c-v[data-d='4'] {
    @include cv-token(teal);
  }

  c-v[data-d='5'] {
    @include cv-token(red);
  }

  c-v[data-d='6'] {
    @include cv-token(orange);
  }

  c-v[data-d='7'] {
    @include cv-token(violet);
  }

  c-v[data-d='8'] {
    @include cv-token(pink);
  }

  c-v[data-d='9'] {
    @include cv-token(gray);
  }

  x-v {
    cursor: pointer;
    &:hover,
    &._active {
      color: var(--active);
    }
  }
}
