@use 'sass:math';
@use "../essence" as *;

$header-height: 3rem;
$header-inner-height: 2.25rem;
$header-gutter: math.div($header-height - $header-inner-height, 2);

.app-header {
  transition: transform 100ms ease-in-out;
  will-change: transform;

  position: sticky;
  z-index: 100;

  top: 0;
  left: 0;

  width: 100%;
  height: $header-height;
  padding: $header-gutter 0;

  color: #fff;
  @include bgcolor(primary, 8);

  @include shadow(2);

  &._clear {
    // top: -$header-height;
    transform: translateY(-$header-height);
  }

  .-wrap {
    display: flex;
  }

  .-left,
  .-right {
    @include flex($gap: var(--gutter-xs));
  }

  .-left {
    flex-grow: 1;
  }

  .-right {
    padding-left: $header-gutter;
  }
}

.header-item {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  border: none;
  outline: none;
  min-width: $header-inner-height;
  text-decoration: none;
  user-select: none;

  padding: 0 0.5rem;
  height: $header-inner-height;
  line-height: $header-inner-height;

  @include fgcolor(neutral, 0);

  @include bdradi();
  @include bgcolor(primary, 7);

  @include hover() {
    @include bgcolor(primary, 6);
  }

  &._active {
    @include bgcolor(primary, 6);
  }

  &:disabled,
  &._disable {
    cursor: text;

    @include fgcolor(mute);
    @include bgcolor(primary, 7);
  }

  img,
  svg {
    margin: 0.5rem 0;
    width: 1.25rem !important;
    height: 1.25rem !important;

    & + .header-text {
      margin-left: 0.25rem;
    }
  }
}

.header-text {
  // text-transform: uppercase;
  font-weight: 500;

  @include ftsize(md);
  // letter-spacing: 0.05rem;

  &._show-sm {
    @include bps(display, none, $sm: inline-block);
  }

  &._show-md {
    @include bps(display, none, $md: inline-block);
  }

  &._show-lg {
    @include bps(display, none, $lg: inline-block);
  }

  ._brand & {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  &._title {
    @include clamp($width: null);
    @include bps(max-width, 32vw, $md: 24vw, $lg: 16vw);
  }

  &._seed {
    max-width: 25vw;
    text-transform: uppercase;
    font-size: 0.85em;
    @include clamp($width: null);
  }
}

.header-field {
  position: relative;
  padding: 0;
  // flex-grow: 1;

  $radius: math.div($header-inner-height, 2);

  cursor: text;
  border-radius: $radius;
  height: $header-inner-height;
  line-height: $header-inner-height;

  > input {
    color: inherit;
    padding: 0 1rem;
    display: block;
    // font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    border-radius: $radius;

    @include bgcolor(primary, 7);

    &::placeholder {
      color: var(--color-gray-1);
    }
  }

  > svg {
    position: absolute;
    // display: flex;
    padding: 0;
    margin: 0;
    right: 0.875rem;
    top: 0.625rem;
    width: 1.125rem;
    height: 1.125rem;
    color: var(--color-gray-4);
  }
}

.header-menu {
  position: absolute;
  width: 12rem;
  padding: 0.5rem 0;
  top: $header-inner-height;
  right: 0;

  @include bgcolor(secd);
  @include shadow;
  @include bdradi;

  display: none;

  .header-item:hover & {
    display: block;
  }

  .-item {
    padding: 0 0.25rem;
    // line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;

    @include flex(0);

    @include border(--bd-main, $loc: top);
    &:last-child {
      @include border(--bd-main, $loc: bottom);
    }

    @include ftsize(sm);

    @include fgcolor(tert);

    &:hover {
      @include fgcolor(primary, 5);
      @include bgcolor(tert);
    }

    svg {
      margin: 0.5rem;
    }

    ._right {
      margin-left: auto;
    }
  }
}
