[Unit]
Description=backup daily
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/bin/bash /app/chivi.app/run/backup-daily.sh

StandardOutput=append:/app/chivi.app/log/backup-daily.log
StandardError=append:/app/chivi.app/log/backup-daily-err.log

[Install]
WantedBy=multi-user.target
