[Unit]
Description=backup hourly
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/bin/bash /app/chivi.app/run/backup-hourly.sh

StandardOutput=append:/app/chivi.app/log/backup-hourly.log
StandardError=append:/app/chivi.app/log/backup-hourly-err.log

[Install]
WantedBy=multi-user.target
