[Unit]
Description=backup daily
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/2tb/app.chivi
Environment=CV_ENV=production
ExecStart=/bin/bash /2tb/app.chivi/run/backup-daily.sh

StandardOutput=append:/2tb/app.chivi/log/backup-daily.log
StandardError=append:/2tb/app.chivi/log/backup-daily-err.log

[Install]
WantedBy=multi-user.target
