[Unit]
Description=backup hourly
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/www/chivi/app
Environment=CV_ENV=production
ExecStart=/bin/bash /www/chivi/app/run/backup-hourly.sh

StandardOutput=append:/www/chivi/app/log/backup-hourly.log
StandardError=append:/www/chivi/app/log/backup-hourly-err.log

[Install]
WantedBy=multi-user.target
