[Unit]
Description=crawl yscrits by list
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/app/chivi
Environment=CV_ENV=production
ExecStart=/app/chivi/bin/yscrit_crawl_by_list

StandardOutput=file:/app/chivi/log/yscrit-crawl-by-list.log
StandardError=append:/app/chivi/log/yscrit-crawl-by-list-err.log


[Install]
WantedBy=multi-user.target
./
