[Unit]
Description=yousuu book crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/app/chivi.app/bin/ysbook_crawl

StandardOutput=file:/app/chivi.app/log/ysbook-crawl.log
StandardError=append:/app/chivi.app/log/ysbook-crawl-err.log

[Install]
WantedBy=multi-user.target
