[Unit]
Description=yousuu review crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/2tb/app.chivi
Environment=CV_ENV=production
ExecStart=/2tb/app.chivi/bin/yscrit_crawl_by_user

StandardOutput=file:/2tb/app.chivi/log/yscrit-crawl-by-user.log
StandardError=append:/2tb/app.chivi/log/yscrit-crawl-by-user-err.log

[Install]
WantedBy=multi-user.target
