[Unit]
Description=crawl yscrits by list

[Timer]
OnCalendar=0/8:00:00
RandomizedDelaySec=600
OnBootSec=300
Persistent=true
Unit=crawl-yscrits-by-list.service

[Install]
WantedBy=timers.target
