[Unit]
Description=yousuu replies crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/2tb/app.chivi
Environment=CV_ENV=production
ExecStart=/2tb/app.chivi/bin/ysrepl_crawl

[Install]
WantedBy=multi-user.target
