[Unit]
Description=yousuu replies timer

[Timer]
OnCalendar=0/12:00:00
RandomizedDelaySec=600
OnBootSec=300
Persistent=true
Unit=crawl-ysrepls.service

[Install]
WantedBy=timers.target
