[Unit]
Description=crawl yscrits by book
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/2tb/app.chivi
Environment=CV_ENV=production
ExecStart=/2tb/app.chivi/bin/yscrit_crawl_by_book

StandardOutput=file:/2tb/app.chivi/log/yscrit-crawl-by-book.log
StandardError=append:/2tb/app.chivi/log/yscrit-crawl-by-book-err.log

[Install]
WantedBy=multi-user.target
