[Unit]
Description=yousuu replies crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/app/chivi.app/bin/ysrepl_crawl

[Install]
WantedBy=multi-user.target
