[Unit]
Description=crawl yscrits by book
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/app/chivi/bin.app/yscrit_crawl_by_book

StandardOutput=file:/app/chivi.app/log/yscrit-crawl-by-book.log
StandardError=append:/app/chivi.app/log/yscrit-crawl-by-book-err.log


[Install]
WantedBy=multi-user.target
