[Unit]
Description=yousuu replies crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/var/chivi
Environment=CV_ENV=production
ExecStart=/var/chivi/bin/ysrepl_crawl

[Install]
WantedBy=multi-user.target
