[Unit]
Description=yousuu review crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/home/nipin/srv/chivi.app/
Environment=AMBER_ENV=production
ExecStart=/home/nipin/srv/chivi.app/bin/ys_review

[Install]
WantedBy=multi-user.target
