[Unit]
Description=yousuu book crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/app/chivi.app
Environment=CV_ENV=production
ExecStart=/app/chivi.app/bin/ysbook_info-sync

StandardOutput=file:/app/chivi.app/log/ysbook_info-sync.log
StandardError=append:/app/chivi.app/log/ysbook_info-sync-err.log

[Install]
WantedBy=multi-user.target
