[Unit]
Description=yousuu book crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin

WorkingDirectory=/2tb/app.chivi
Environment=CV_ENV=production
ExecStart=/2tb/app.chivi/bin/ysbook_info-sync

StandardOutput=file:/2tb/app.chivi/log/ysbook_info-sync.log
StandardError=append:/2tb/app.chivi/log/ysbook_info-sync-err.log

[Install]
WantedBy=multi-user.target
