/// links

a {
  touch-action: manipulation;
}

a[class] {
  text-decoration: none;
}

$-link-internal: color(blue, 5) !default;

a:not([class]) {
  color: $-link-internal;
  text-decoration: none;

 // transition: all 0.1s ease-in-out;
  @include radius();

  &:hover {
    text-decoration: underline;
    color: lighten($-link-internal, 5%);
  }
}
