@use '../essence' as *;

article {
  padding: 1rem 0;
  overflow-wrap: break-word;
}

.article {
  @include shadow(2);
  @include bgcolor(tert);
  @include padding-x(var(--gutter));
}

.md-post {
  font-size: em(17px);
  line-height: 1.5em;

  @include bp-min(ls) {
    @include padding-x(2rem);
  }

  > * + * {
    margin-top: 1.25rem;
  }

  h1 {
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
    @include border(--bd-main, $loc: bottom);
  }

  h1,
  h2 {
    font-weight: 400;
  }

  h2,
  h3 {
    padding-top: 0.5rem;
    @include fgcolor(secd);
    @include border(--bd-soft, $loc: bottom);
  }

  h4,
  h5 {
    @include fgcolor(tert);
  }

  ul > * + *,
  ol > * + * {
    margin-top: 1rem;
  }

  li > * {
    margin-top: 0.75rem;
  }

  a {
    font-weight: 500;
    @include fgcolor(primary, 5);
  }

  .sm {
    @include ftsize(sm);
    line-height: 1.25rem;
    @include fgcolor(secd);
  }

  pre.language-zh {
    line-height: 1.25rem;
    font-size: rem(14px);
  }

  .qr {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 2vw;
  }

  .qr img {
    max-height: 20rem;
    width: auto;
  }

  li + li {
    margin-top: 0.5rem;
  }
}

x-t,
x-p,
x-v {
  display: inline-block;
  padding: 0 0.5em;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-transform: capitalize;
  font-size: rem(13px);
  @include linesd(--bd-main);
}

x-t {
  @include bdradi();
}

cv-user,
.cv-user {
  font-weight: 500;
  color: var(--color, #{color(neutral, 5)});

  &[data-privi='-1'] {
    text-decoration: line-through;
  }

  &[data-privi='0'] {
    --color: #{color(neutral, 5)};
  }

  &[data-privi='1'] {
    --color: #{color(success, 5)};
  }

  &[data-privi='2'] {
    --color: #{color(primary, 5)};
  }

  &[data-privi='3'] {
    --color: #{color(purple, 5)};
  }

  &[data-privi='4'] {
    --color: #{color(warning, 5)};
  }

  &[data-privi='5'] {
    --color: #{color(harmful, 5)};
  }

  &[data-privi='6'] {
    --color: #{color(harmful, 5)};
    padding: 0 0.375em;
    border: 1px solid color(harmful, 5, 5);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  appearance: textfield;
}

figcaption {
  color: var(--fg-tert);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
