@use '../essence' as *;

article {
  padding: 1rem 0;
  overflow-wrap: break-word;
}

.md-post {
  margin-top: 1rem;
  @include bgcolor(secd);
  padding: 1rem 1.5rem;
  @include bdradi();

  > h1 {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }

  > h1,
  > h2 {
    font-weight: 400;
    @include border(--bd-main, $loc: bottom);
  }

  > h2,
  > h3 {
    padding-top: 0.5rem;
    @include fgcolor(secd);
  }

  > * + * {
    margin-top: 1rem;
  }

  li + li {
    margin-top: 0.75rem;
  }

  li li,
  li p {
    margin-top: 0.5rem;
  }

  a {
    @include fgcolor(primary, 5);
  }

  code {
    @include bgcolor(tert);
    font-family: var(--ff-mono);
  }
}

x-t,
x-p,
x-v {
  display: inline-block;
  padding: 0 0.5em;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-transform: capitalize;
  font-size: rem(13px);
  @include linesd(--bd-main);
}

x-t {
  @include bdradi();
}

cv-user,
.cv-user {
  font-weight: 500;
  color: var(--color, #{color(neutral, 5)});

  &[data-privi='-1'] {
    text-decoration: line-through;
  }

  &[data-privi='0'] {
    --color: #{color(neutral, 5)};
  }

  &[data-privi='1'] {
    --color: #{color(primary, 5)};
  }

  &[data-privi='2'] {
    --color: #{color(success, 5)};
  }

  &[data-privi='3'] {
    --color: #{color(warning, 5)};
  }

  &[data-privi='4'] {
    --color: #{color(harmful, 5)};
  }
}


.bread {
  padding: .5rem 0;
  line-height: 1.25rem;

  // @include flow();
  @include ftsize(sm);
  @include fgcolor(secd);

}

.crumb {
  @include fgcolor(tert);
  // float: left;

  &._caps {
    text-transform: uppercase;
    @include ftsize(xs);
  }

  &._link {
    color: inherit;
    &:hover {
      @include fgcolor(primary, 5);
    }
  }
}

.article.article {
  @include padding-x(var(--gutter));
  @include margin-x(0);
  @include shadow(2);
  @include bgcolor(tert);

  @include bp-min(tl) {
    border-radius: 1rem;
    @include margin-x(var(--gutter));
  }

  @include tm-dark {
    @include linesd(--bd-soft, $ndef: false, $inset: false);
  }
}
