[Unit]
Description=yousuu-serials
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/home/nipin/web/chivi/
ExecStart=/home/nipin/.rbenv/shims/ruby tasks/yousuu/serials.rb

[Install]
WantedBy=multi-user.target
