// clearfix

@mixin wrap($gap: 0) {
  &:after {
    display: block;
    content: '';
    clear: both;
  }

  @if $gap and $gap > 0 {
    > * + * {
      @include bp-all(margin-left, $gap);
    }
  }
}

@mixin flex($gap: 0) {
  display: flex;

  @if $gap and $gap > 0 {
    > * + * {
      @include bp-all(margin-left, $gap);
    }
  }
}

@mixin flow($gap: 0) {
  display: block;

  @if $gap and $gap > 0 {
    > * + * {
      @include bp-all(margin-top, $gap);
    }
  }
}

@mixin grid($size, $gap: 0) {
  display: grid;
  grid-template-columns: repeat(auto-fill, $size);
  @include bp-all(grid-gap, $gap);
}

@mixin center-flex {
  align-items: center;
  justify-content: center;
}

@mixin center-auto($width, $child: '*') {
  > #{$child} {
    width: $size;
    max-width: 100%;
    margin: 0 auto;
  }
}
