@use '../essence' as *;

.app-vessel {
  display: block;
  position: relative;

  width: var(--page-width, 52rem);
  max-width: 100%;
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  .island {
    @include margin-x(calc(var(--gutter) * -1));

    @include bp-min(tl) {
      @include margin-x(0);
      @include bdradi();
    }
  }
}

.app-ff-1 {
  font-family: var(--font-sans, sans-serif);
}

.app-ff-2 {
  font-family: var(--font-serif, serif);
}

.app-ff-3 {
  font-family: Nunito Sans, var(--font-sans, sans-serif);
}

.app-ff-4 {
  font-family: Lora, var(--font-serif, serif);
}

.app-ff-5 {
  font-family: Roboto Slab, var(--font-serif, serif);
}
