@use '../essence' as *;

.app-vessel {
  display: block;
  position: relative;

  width: var(--page-width, 52rem);
  max-width: 100%;
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  .island {
    @include margin-x(calc(var(--gutter) * -1));

    @include bp-min(tl) {
      @include margin-x(0);
      @include bdradi();
    }
  }
}
