[Unit]
Description=chivi server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5010
Environment=AMBER_ENV=production
WorkingDirectory=/home/nipin/srv/chivi.xyz
ExecStart=/home/nipin/srv/chivi.xyz/bin/chivi

[Install]
WantedBy=multi-user.target
