[Unit]
Description=chivi server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5010
Environment=AMBER_ENV=production
WorkingDirectory=/home/nipin/srv/chivi.app
ExecStart=/home/nipin/srv/chivi.app/bin/chivi
StandardOutput=file:/home/nipin/log/chivi-srv.log
StandardError=append:/home/nipin/log/chivi-srv-err.log

[Install]
WantedBy=multi-user.target
