[Unit]
Description=chivi backup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/app/chivi.app/srv
ExecStart=/usr/bin/bash priv/run-hourly.sh

[Install]
WantedBy=multi-user.target
