[Unit]
Description=cvapp dev server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5011
Environment=CV_ENV=development
WorkingDirectory=/2tb/dev.chivi
ExecStart=/2tb/dev.chivi/bin/cvapp-srv
StandardOutput=file:/2tb/dev.chivi/log/cvapp-srv.log
StandardError=append:/2tb/dev.chivi/log/cvapp-err.log

[Install]
WantedBy=multi-user.target
