[Unit]
Description=cvapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5010
Environment=CV_ENV=production
WorkingDirectory=/2tb/app.chivi
ExecStart=/2tb/app.chivi/bin/cvapp-srv
StandardOutput=file:/2tb/app.chivi/log/cvapp-srv.log
StandardError=append:/2tb/app.chivi/log/cvapp-err.log

[Install]
WantedBy=multi-user.target
