[Unit]
Description=cvapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5010
Environment=CV_ENV=production
WorkingDirectory=/app/chivi.app
ExecStart=/app/chivi.app/bin/cvapp-srv
StandardOutput=file:/app/chivi.app/log/cvapp-srv.log
StandardError=append:/app/chivi.app/log/cvapp-err.log

[Install]
WantedBy=multi-user.target
