[Unit]
Description=cvhlp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5501
Environment=CV_ENV=production
WorkingDirectory=/app/chivi
ExecStart=/app/chivi/bin/cvhlp-srv
StandardOutput=file:/app/chivi/log/cvhlp-srv.log
StandardError=append:/app/chivi/log/cvhlp-err.log

[Install]
WantedBy=multi-user.target
