[Unit]
Description=chivi webapp
After=network.target cvapp-srv.service wnapp-srv.service mt_v1-srv.service mt_sp-srv.service ysapp-srv.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5000
Environment=NODE_ENV=production
WorkingDirectory=/app/chivi.app/web
ExecStart=/usr/bin/node index.js
StandardOutput=file:/app/chivi.app/log/cvweb-srv.log
StandardError=append:/app/chivi.app/log/cvweb-err.log

[Install]
WantedBy=multi-user.target
