[Unit]
Description=mt_ai server
Requires=network.target postgresql.service
After=postgresql.service
AllowIsolate=yes

StartLimitIntervalSec=400
StartLimitBurst=20
StartLimitAction=reboot

[Service]
Type=simple
Restart=always
RestartSec=15
TimeoutSec=600

User=nipin
Environment=PORT=5120
Environment=CV_ENV=production
WorkingDirectory=/2tb/app.chivi
ExecStart=/2tb/app.chivi/bin/mt_ai-srv

StandardOutput=file:/2tb/app.chivi/log/mt_ai-srv.log
StandardError=append:/2tb/app.chivi/log/mt_ai-err.log

[Install]
WantedBy=multi-user.target
