[Unit]
Description=mt_ai dev server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5120
Environment=CV_ENV=development
WorkingDirectory=/2tb/dev.chivi
ExecStart=/2tb/dev.chivi/bin/mt_ai-srv
StandardOutput=file:/2tb/dev.chivi/log/mt_ai-srv.log
StandardError=append:/2tb/dev.chivi/log/mt_ai-err.log

[Install]
WantedBy=multi-user.target
