[Unit]
Description=mt_sp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5300
Environment=CV_ENV=production
WorkingDirectory=/2tb/app.chivi
ExecStart=/2tb/app.chivi/bin/mt_sp-srv
StandardOutput=file:/2tb/app.chivi/log/mt_sp-srv.log
StandardError=append:/2tb/app.chivi/log/mt_sp-err.log

[Install]
WantedBy=multi-user.target
