[Unit]
Description=mt_sp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5300
Environment=CV_ENV=production
WorkingDirectory=/app/chivi.app
ExecStart=/app/chivi.app/bin/mt_sp-srv
StandardOutput=file:/app/chivi.app/log/mt_sp-srv.log
StandardError=append:/app/chivi.app/log/mt_sp-err.log

[Install]
WantedBy=multi-user.target
