[Unit]
Description=mt_v1 server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5111
Environment=CV_ENV=development
WorkingDirectory=/app/chivi.dev
ExecStart=/app/chivi.dev/bin/mt_v1-srv
StandardOutput=file:/app/chivi.dev/log/mt_v1-srv.log
StandardError=append:/app/chivi.dev/log/mt_v1-err.log

[Install]
WantedBy=multi-user.target
