[Unit]
Description=mt_v1 server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5110
Environment=CV_ENV=production
WorkingDirectory=/app/chivi.app
ExecStart=/app/chivi.app/bin/mt_v1-srv
StandardOutput=file:/app/chivi.app/log/mt_v1-srv.log
StandardError=append:/app/chivi.app/log/mt_v1-err.log

[Install]
WantedBy=multi-user.target
