[Unit]
Description=mt_v2 server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5502
Environment=CV_ENV=production
WorkingDirectory=/app/chivi
ExecStart=/app/chivi/bin/mt_v2-srv
StandardOutput=file:/app/chivi/log/mt_v2-srv.log
StandardError=append:/app/chivi/log/mt_v2-err.log

[Install]
WantedBy=multi-user.target
