[Unit]
Description=mt_v1 server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5111
Environment=CV_ENV=development
WorkingDirectory=/2tb/dev.chivi
ExecStart=/2tb/dev.chivi/bin/mt_v1-srv
StandardOutput=file:/2tb/dev.chivi/log/mt_v1-srv.log
StandardError=append:/2tb/dev.chivi/log/mt_v1-err.log

[Install]
WantedBy=multi-user.target
