[Unit]
Description=cvmtl server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5502
Environment=CV_ENV=production
WorkingDirectory=/home/nipin/srv/chivi.app
ExecStart=/home/nipin/srv/chivi.app/bin/cvmtl-srv

[Install]
WantedBy=multi-user.target
