[Unit]
Description=wnapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5020
Environment=CV_ENV=production
WorkingDirectory=/2tb/app.chivi
ExecStart=/2tb/app.chivi/bin/wnapp-srv
StandardOutput=file:/2tb/app.chivi/log/wnapp-srv.log
StandardError=append:/2tb/app.chivi/log/wnapp-err.log

[Install]
WantedBy=multi-user.target
