[Unit]
Description=wnapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5020
Environment=CV_ENV=development
WorkingDirectory=/app/chivi.dev
ExecStart=/app/chivi.dev/bin/wnapp-srv
StandardOutput=file:/app/chivi.dev/log/wnapp-srv.log
StandardError=append:/app/chivi.dev/log/wnapp-err.log

[Install]
WantedBy=multi-user.target
