[Unit]
Description=ysapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5400
Environment=CV_ENV=production
WorkingDirectory=/2tb/app.chivi
ExecStart=/2tb/app.chivi/bin/ysapp-srv
StandardOutput=file:/2tb/app.chivi/log/ysapp-srv.log
StandardError=append:/2tb/app.chivi/log/ysapp-err.log

[Install]
WantedBy=multi-user.target
