[Unit]
Description=ysapp dev server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5401
Environment=CV_ENV=development
WorkingDirectory=/2tb/dev.chivi
ExecStart=/2tb/dev.chivi/bin/ysapp-srv
StandardOutput=file:/2tb/dev.chivi/log/ysapp-srv.log
StandardError=append:/2tb/dev.chivi/log/ysapp-err.log

[Install]
WantedBy=multi-user.target
