[Unit]
Description=ysapp server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5400
Environment=CV_ENV=production
WorkingDirectory=/app/chivi.app
ExecStart=/app/chivi.app/bin/ysapp-srv
StandardOutput=file:/app/chivi.app/log/ysapp-srv.log
StandardError=append:/app/chivi.app/log/ysapp-err.log

[Install]
WantedBy=multi-user.target
