[Unit]
Description=chivi-webapp
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5100
WorkingDirectory=/home/nipin/www/chivi/web
ExecStart=/usr/bin/node __sapper__/build

[Install]
WantedBy=multi-user.target
