@use "../essence" as *;

$-btn-height-xs: rem(24px);
$-btn-height-sm: rem(32px);
$-btn-height-md: rem(36px);
$-btn-height-lg: rem(44px);
$-btn-height-xl: rem(60px);

$-colors: (primary, success, warning, harmful);

@mixin text-button($color: neutral) {
  @include fgcolor($color, 6);
  @include bgcolor($color, 0);
  @include bgvar(hover, $color, 1);
  @include linesd($color, 2, $ndef: false);

  .tm-dark & {
    @include fgcolor($color, 3);
    @include bgcolor(neutral, 8);
    @include bgvar(hover, $color, 7);
    @include linesd($color, 7, $ndef: false);
  }

  &:disabled,
  &._disable {
    @include fgcolor($color, 4);
    @include bgcolor(neutral, 2);
    @include bgvar(hover, neutral, 2);
    @include linesd(neutral, 2);

    .tm-dark & {
      @include fgcolor($color, 6);
      @include bgcolor(neutral, 8);
      @include bgvar(hover, neutral, 8);
      @include linesd(neutral, 8);
    }
  }
}

@mixin fill-button($color: neutral) {
  @include fgcolor(white);
  @include bgcolor($color, 5);
  @include bgvar(hover, $color, 4);
  @include linesd($color, 4, $ndef: false);

  .tm-dark & {
    @include fgcolor($color, 1);
    @include bgcolor($color, 7);
    @include bgvar(hover, $color, 6);
    @include linesd($color, 6, $ndef: false);
  }

  &._disable,
  &:disabled {
    @include fgcolor($color, 2);
    @include bgcolor($color, 4);
    @include bgvar(hover, $color, 4);
    @include linesd($color, 4);

    .tm-dark & {
      @include fgcolor($color, 6);
      @include bgcolor($color, 8);
      @include bgvar(hover, $color, 8);
      @include linesd($color, 8);
    }
  }
}

.m-button {
  --height: #{$-btn-height-md};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-md);
  --innerh: calc(var(--height) - var(--gutter) - var(--gutter));

  display: inline-flex;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border: 0;

  padding: var(--gutter);
  height: var(--height);
  line-height: var(--innerh);
  font-size: var(--ftsize);
  @include bdradi;

  &:hover,
  &._active {
    background: var(--bg-hover);
  }

  &:disabled,
  &._disable {
    // prettier-ignore
    @include hover { cursor: text; }
  }

  > span {
    margin: 0 var(--gutter-ss);
  }

  > svg,
  > img {
    // margin: var(--gutter) 0;
    width: var(--innerh);
    height: var(--innerh);
  }
}

.m-button {
  @include linesd(--bd-main);
  @include text-button(neutral);

  @each $color in $-colors {
    &._#{$color} {
      @include text-button($color);
    }
  }
}

.m-button._fill {
  @include fill-button(neutral);

  @each $color in $-colors {
    &._#{$color} {
      @include fill-button($color);
    }
  }
}

.btn-xs {
  --height: #{$-btn-height-xs};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-xs);
}

.btn-sm {
  --height: #{$-btn-height-sm};
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-sm);
}

.btn-lg {
  --height: #{$-btn-height-lg};
  --gutter: var(--gutter-sm);
  --ftsize: var(--ftsize-lg);
}

.btn-xl {
  --height: #{$-btn-height-xl};
  --gutter: var(--gutter-md);
  --ftsize: var(--ftsize-xl);
}
