@use "../essence" as *;

.m-field {
  display: block;
  position: relative;
  width: 100%;

  > :where(.-ico, svg, img) {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.m-input {
  line-height: 1.5rem;
  border: 0;
  outline: 0;
  padding: var(--gutter-xs) var(--gutter-md);

  @include fgcolor(main);
  @include bgcolor(main);

  @include bdradi();
  @include linesd(--bd-main);

  @include hover {
    @include linesd(primary, 5, $ndef: false);
  }

  &:focus {
    @include bgcolor(tert);
    @include linesd(primary, 5, $width: 2px, $ndef: false);
  }

  &::placeholder {
    font-style: italic;
    @include ftsize(sm);
    @include fgcolor(tert);
  }
}

input.inp-sm {
  padding: var(--gutter-ss) var(--gutter-md);
  line-height: 1.25rem;
  height: 2rem;
}
