@use 'sass:map';
@use '../essence' as *;

$colors: (gray, blue, green, orange, red, violet) !default;

:root {
  --bg-main: #{color(neutral, 1)};
  --bg-secd: #{color(white)};
  --bg-tert: #{color(neutral, 0)};
  --bg-mute: #{color(neutral, 2)};

  --fg-main: #{color(neutral, 9)};
  --fg-secd: #{color(neutral, 7)};
  --fg-tert: #{color(neutral, 5)};
  --fg-mute: #{color(neutral, 4)};

  --bd-soft: #{color(neutral, 1)};
  --bd-main: #{color(neutral, 2)};
  --bd-bold: #{color(neutral, 3)};
}

.tm-warm {
  --bg-main: #{color(orange, 1)};
  --bg-secd: #fcf7ee;
  --bg-tert: #fffbeb;

  --bd-soft: #{color(orange, 1, 5)};
  --bd-main: #{color(orange, 2, 5)};
  --bd-bold: #{color(orange, 3, 5)};
}

.tm-dark,
.tm-oled {
  --fg-link: #{color(blue, 5)};
}

.tm-dark {
  --bg-main: #{color(black)};
  --bg-secd: #{color(gray, 8)};
  --bg-tert: #{color(gray, 9)};
  --bg-mute: #{color(gray, 6)};

  --fg-main: #{color(gray, 0)};
  --fg-secd: #{color(gray, 2)};
  --fg-tert: #{color(gray, 4)};
  --fg-mute: #{color(gray, 5)};

  --bd-soft: #{color(gray, 8)};
  --bd-main: #{color(gray, 7)};
  --bd-bold: #{color(gray, 6)};
}

.tm-oled {
  --bg-main: #000;
  --bg-secd: #000;
  --bg-tert: #000;
  --bg-mute: #{color(gray, 5)};

  --fg-main: #{color(gray, 1)};
  --fg-secd: #{color(gray, 3)};
  --fg-tert: #{color(gray, 5)};
  --fg-mute: #{color(gray, 6)};

  --bd-soft: #{color(gray, 9)};
  --bd-main: #{color(gray, 8)};
  --bd-bold: #{color(gray, 7)};
}

:root {
  --font-serif: #{$font-serif};
  --font-sans: #{$font-sans};
  --font-mono: #{$font-mono};

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 16px;

  --lh-normal: 1.5rem;
  --lh-narrow: 1.25rem;
  --lh-packed: 1rem;
}

// prettier-ignore
:root {
  $gutter: (pm, pl, ts, tm);
  $verpad: (pm: ts, tm: tm, tl: tl);
  $gutter-small: (pm: ps, pl: pm, ts: pl, tm: ts);
  $gutter-large: (pm: pl, pl: ts, ts: tm, tm: tl);

  --gutter: .5rem;
  --verpad: 1rem;

  --gutter-ps: 0.25rem;
  --gutter-pm: 0.5rem;
  --gutter-pl: 0.75rem;
  --gutter-ts: 1rem;
  --gutter-tm: 1.25rem;
  --gutter-tl: 1.5rem;

  // fluild gutter
  @each $key in $gutter {
    @include bp-min($key) {
      --gutter: #{var(--gutter-#{$key})};

      $small-val: map.get($gutter-small, $key) or $key;
      --gutter-small: #{var(--gutter-#{$small-val})};

      $large-val: map.get($gutter-large, $key) or $key;
      --gutter-large: #{var(--gutter-#{$large-val})};
    }
  }

  @each $key, $val in $verpad {
    --verpad-#{$key}: #{var(--gutter-#{$val})};

    @include bp-min($key) {
      --verpad: #{var(--gutter-#{$val})};
    }
  }
}

:root {
  --height-xs: 1rem;
  --height-sm: 1.5rem;
  --height-md: 2rem;
  --height-lg: 2.5rem;
  --height-xl: 3rem;

  --ftsize-ss: #{rem(10px)};
  --ftsize-xs: #{rem(12px)};
  --ftsize-sm: #{rem(14px)};
  --ftsize-md: #{rem(16px)};
  --ftsize-lg: #{rem(18px)};
  --ftsize-xl: #{rem(20px)};
  --ftsize-x2: #{rem(24px)};
  --ftsize-x3: #{rem(30px)};
  --ftsize-x4: #{rem(36px)};
  --ftsize-x5: #{rem(48px)};

  --ftsize-code: 0.875em;
}

:root {
  --d2-color: #{color(blue, 5)};
  --d3-color: #{color(teal, 5)};
  --d4-color: #{color(orange, 5)};
  --d5-color: #{color(red, 5)};
}
