// credit: https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss

@use '../essence' as *;

// Code

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: em(15, 16);
  direction: ltr #{'/* rtl:ignore */'};
  unicode-bidi: bidi-override;
  @include bdradi();
}

pre {
  display: block;

  @include fgcolor(secd);
  @include bgcolor(neutral, 5, 1);

  code {
    display: block;
    color: inherit;
    background: none;
    font-size: inherit;
    word-break: normal;
    overflow: auto;
    padding: 0.375rem 0.75rem;
  }
}

code {
  padding: .125rem 0.375em;
  word-wrap: break-word;

  @include fgcolor(secd);
  @include bgcolor(secd);

  // prettier-ignore
  a > & { color: inherit; }
}

kbd {
  padding: 0.125em 0.25em;
  font-size: em(14, 17);
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;

  @include fgcolor(tert);
  @include bgcolor(tert);
  @include border();
  @include shadow();

  > kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 500;
  }
}
