@use '../essence' as *;

a {
  touch-action: manipulation;
}

a[class] {
  text-decoration: none;
}

a:not([class]),
.m-link {
  @include fgcolor(primary, 6);
  text-decoration: none;

  &:hover {
    @include fgcolor(primary, 5);
    border-bottom: 1px solid #50b7f7;
  }
}
