a {
  touch-action: manipulation;
}

a[class] {
  text-decoration: none;
}

a:not([class]),
.m-link {
  color: var(--color-link, #0e97ec);
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #50b7f7;
  }
}
