*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  height: 100vh;

  // enable smooth scrolling
  // prettier-ignore
  // @media (prefers-reduced-motion: no-preference) { scroll-behavior: smooth; }
}

html,
body {
  min-width: 320px;
}

body {
  margin: 0;

  font-size: 1rem;
  font-weight: 400;

  line-height: 1.5rem;
  font-family: var(--font-sans);

  color: var(--fg-main);
  background: var(--bg-main);
  position: relative;

  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

:focus {
  outline: 0 !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

[hidden] {
  display: none !important;
}

template {
  display: none;
}

summary {
  display: list-item;
  cursor: pointer;
}

output {
  display: inline-block;
}

svg,
img {
  overflow: hidden;
  border-style: none;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p > img {
  display: inline-block;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-regular.woff2')
      format('woff2'),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-italic.woff2')
      format('woff2'),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-italic.woff')
      format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-700.woff2')
      format('woff2'),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-700.woff')
      format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-700italic.woff2')
      format('woff2'),
    url('https://img.chivi.app/fonts/merriweather-v25-vietnamese_latin-ext_latin-700italic.woff')
      format('woff');
}

/* nunito-sans-italic - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-700 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-700.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-700italic - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-700italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/nunito-sans-v8-vietnamese_latin-ext_latin-700italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-700 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-italic - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-700italic - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-700italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/lora-v20-vietnamese_latin-ext_latin-700italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - vietnamese_latin-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('https://img.chivi.app/fonts/roboto-slab-v24-vietnamese_latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/roboto-slab-v24-vietnamese_latin-ext_latin-regular.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - vietnamese_latin-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('https://img.chivi.app/fonts/roboto-slab-v24-vietnamese_latin-ext_latin-700.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('https://img.chivi.app/fonts/roboto-slab-v24-vietnamese_latin-ext_latin-700.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
