@use '../essence' as *;

table {
  --table-gutter: var(--gutter-pl, 0.5rem);
  --table-spacer: var(--gutter-pm, 0.25rem);

  --table-thcolor: var(--fg-tert);
  --table-bgcolor: var(--bg-tert);
  --table-bdcolor: var(--bd-main);

  border-collapse: collapse;
  border-radius: var(--radius);
  min-width: 100%;
  color: var(--fg-main);
}

caption {
  padding-top: var(--table-spacer);
  padding-bottom: var(--table-spacer);

  color: var(--fg-secd);
  text-align: left;
  caption-side: bottom;
}

thead tr,
tr:nth-child(even) {
  background-color: var(--table-bgcolor);
}

th {
  color: var(--table-thcolor);

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;

  // prettier-ignore
  &:not([align]) { text-align: left; }
}

th,
td {
  padding: var(--table-spacer) var(--table-gutter);
  border: 1px solid var(--table-bdcolor);
}
