[data-tip] {
  position: relative;
  white-space: nowrap;

  &:after {
    display: none;
    pointer-events: none;
  }

  @include hover {
    &:after {
      position: absolute;
      left: 0;
      bottom: 100%;
      padding: 0.25rem 0.375rem;

      display: flex;
      flex-wrap: nowrap;
      color: #fff;
      @include radius();
      content: attr(data-tip);
      @include bgcolor(neutral, 8, 0.8);
    }
  }
}
