// functions
@use "sass:list";
@use "../defs" as *;

$dirs: (top, right, bottom, left);

@function bdprops($loc: all, $type: null) {
  @if $loc == all or $loc == null {
    @return join-props(border, $type);
  }

  $props: ();

  @each $dir in $dirs {
    @if match-side($dir, $loc) {
      $props: list.append($props, join-props(border, $dir, $type));
    }
  }

  @return $props;
}

// colors
$bd-labels: (main, soft, hard, mute);

@mixin bdcolor($color: gray, $tone: 5, $loc: all) {
  $props: bdprops($loc, color);

  @if known-colors($color) {
    border-color: color($color, $tone);
  } @else if list.index($bd-labels, $color) {
    border-color: #{var(--bd-#{$color})};
  } @else if type-of($color) == color {
    border-color: $color;
  } @else {
    border-color: #{var(--#{$color})};
  }
}

// styles

@mixin bdstyle($style: solid, $loc: all) {
  $props: bdprops($loc, style);
  @include bps($props, $style);
}

// widths

@mixin bdwidth($width: 1px, $loc: all) {
  $props: bdprops($loc, width);
  @include bps($props, $width);
}

// borders

@mixin border(
  $color: --bd-main,
  $tone: 3,
  $width: 1px,
  $style: solid,
  $loc: all
) {
  $props: bdprops($loc);
  $color: #{color($color, $tone)};
  @include bps($props, $width $style $color);
}
