@mixin tm-light($svelte: true, $warm: true) {
  @if ($svelte) {
    :global(.tm-light) & {
      @content;
    }
    @if $warm {
      :global(.tm-warm) & {
        @content;
      }
    }
  } @else {
    .tm-light & {
      @content;
    }

    @if $warm {
      .tm-warm & {
        @content;
      }
    }
  }
}

@mixin tm-dark($svelte: true, $oled: true) {
  @if ($svelte) {
    :global(.tm-dark) & {
      @content;
    }
    @if $oled {
      :global(.tm-oled) & {
        @content;
      }
    }
  } @else {
    .tm-dark & {
      @content;
    }

    @if $oled {
      .tm-oled & {
        @content;
      }
    }
  }
}

@mixin tm-oled($svelte: true) {
  @if ($svelte) {
    :global(.tm-oled) & {
      @content;
    }
  } @else {
    .tm-oled & {
      @content;
    }
  }
}

@mixin radius($size: md) {
  @if type-of($size) == number {
    border-radius: $size;
  } @else {
    border-radius: 'var(--radius-#{$size})';
  }
}

@mixin ftsize($size: md) {
  @if type-of($size) == number {
    font-size: $size;
  } @else {
    font-size: #{var(--ftsize-#{$size})};
  }
}
