[Unit]
Description=yousuu serial crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/home/nipin/www/chivi.xyz/
ExecStart=/usr/bin/ruby tasks/workers/yousuu_infos.rb

[Install]
WantedBy=multi-user.target
