@forward 'essence/vars';
@forward 'essence/defs';
@forward 'essence/objs';

@mixin scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
  }
}
