[Unit]
Description=yousuu serial crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=nipin
WorkingDirectory=/home/nipin/srv/chivi.xyz/
ExecStart=./bin/ys_serial

[Install]
WantedBy=multi-user.target
