[Unit]
Description=chivi-client
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nipin
Environment=PORT=5100
Environment=KEMAL_ENV=production
WorkingDirectory=/home/nipin/web/chivi/web
ExecStart=/usr/bin/node __sapper__/build
[Install]
WantedBy=multi-user.target
