@mixin radius($size: md) {
  @if type-of($size) == number {
    border-radius: $size;
  } @else {
    border-radius: 'var(--radius-#{$size})';
  }
}

@mixin scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
  }
}

@mixin transition($type: tranform, $duration: 0.1s, $timing: ease-in-out) {
  will-change: $type;
  transition: $type $duration $timing;
  // prettier-ignore
  @media (prefers-reduced-motion) { transition: none; }
}
