:root {
  --color-black: #0d1117;
  --color-white: white;
  --color-gray-0: #f9fafb;
  --color-gray-1: #f3f4f6;
  --color-gray-2: #e5e7eb;
  --color-gray-3: #d1d5db;
  --color-gray-4: #9ca3af;
  --color-gray-5: #6b7280;
  --color-gray-6: #4b5563;
  --color-gray-7: #374151;
  --color-gray-8: #1f2937;
  --color-gray-9: #111827;
  --color-sky-0: #f0f9ff;
  --color-sky-1: #e0f2fe;
  --color-sky-2: #bae6fd;
  --color-sky-3: #7dd3fc;
  --color-sky-4: #38bdf8;
  --color-sky-5: #0ea5e9;
  --color-sky-6: #0284c7;
  --color-sky-7: #0369a1;
  --color-sky-8: #075985;
  --color-sky-9: #0c4a6e;
  --color-blue-0: #eff6ff;
  --color-blue-1: #dbeafe;
  --color-blue-2: #bfdbfe;
  --color-blue-3: #93c5fd;
  --color-blue-4: #60a5fa;
  --color-blue-5: #3b82f6;
  --color-blue-6: #2563eb;
  --color-blue-7: #1d4ed8;
  --color-blue-8: #1e40af;
  --color-blue-9: #1e3a8a;
  --color-green-0: #f0fdf4;
  --color-green-1: #dcfce7;
  --color-green-2: #bbf7d0;
  --color-green-3: #86efac;
  --color-green-4: #4ade80;
  --color-green-5: #22c55e;
  --color-green-6: #16a34a;
  --color-green-7: #15803d;
  --color-green-8: #166534;
  --color-green-9: #14532d;
  --color-yellow-0: #fefce8;
  --color-yellow-1: #fef9c3;
  --color-yellow-2: #fef08a;
  --color-yellow-3: #fde047;
  --color-yellow-4: #facc15;
  --color-yellow-5: #eab308;
  --color-yellow-6: #ca8a04;
  --color-yellow-7: #a16207;
  --color-yellow-8: #854d0e;
  --color-yellow-9: #713f12;
  --color-orange-0: #fff7ed;
  --color-orange-1: #ffedd5;
  --color-orange-2: #fed7aa;
  --color-orange-3: #fdba74;
  --color-orange-4: #fb923c;
  --color-orange-5: #f97316;
  --color-orange-6: #ea580c;
  --color-orange-7: #c2410c;
  --color-orange-8: #9a3412;
  --color-orange-9: #7c2d12;
  --color-red-0: #fef2f2;
  --color-red-1: #fee2e2;
  --color-red-2: #fecaca;
  --color-red-3: #fca5a5;
  --color-red-4: #f87171;
  --color-red-5: #ef4444;
  --color-red-6: #dc2626;
  --color-red-7: #b91c1c;
  --color-red-8: #991b1b;
  --color-red-9: #7f1d1d;
  --color-purple-0: #faf5ff;
  --color-purple-1: #f3e8ff;
  --color-purple-2: #e9d5ff;
  --color-purple-3: #d8b4fe;
  --color-purple-4: #c084fc;
  --color-purple-5: #a855f7;
  --color-purple-6: #9333ea;
  --color-purple-7: #7e22ce;
  --color-purple-8: #6b21a8;
  --color-purple-9: #581c87;
  --fg-main: var(--color-gray-9);
  --fg-secd: var(--color-gray-7);
  --fg-tert: var(--color-gray-5);
  --fg-mute: var(--color-gray-3);
  --bg-main: var(--color-gray-1);
  --bg-secd: var(--color-gray-0);
  --bg-tert: var(--color-white);
  --bg-mute: var(--color-gray-2);
  --bd-main: var(--color-gray-2);
  --bd-bold: var(--color-gray-3);
}

.tm-dark {
  --fg-main: var(--neutral);
  --fg-main: var(--color-gray-0);
  --fg-secd: var(--color-gray-2);
  --fg-tert: var(--color-gray-3);
  --fg-mute: var(--color-gray-4);
  --fg-link: var(--color-blue-5);
  --bg-main: var(--color-gray-9);
  --bg-secd: var(--color-gray-8);
  --bg-tert: var(--color-gray-7);
  --bg-mute: var(--color-gray-6);
  --bd-main: var(--color-gray-7);
  --bd-bold: var(--color-gray-6);
}

:root {
  --font-sans: Roboto VF, ui-sans-serif, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono: Sarasa Mono SC, Iosevka, ui-monospace, SFMono-Regular, SF Mono, Consolas, Menlo, monospace, emoji;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 16px;
  --lh-normal: 1.5rem;
  --lh-narrow: 1.25rem;
  --lh-packed: 1rem;
}

:root {
  --gutter-ss: 0.25rem;
  --gutter-xs: 0.5rem;
  --gutter-sm: 0.75rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.25rem;
  --gutter-xl: 1.5rem;
  --gutter: var(--gutter-xs);
  --gutter-small: var(--gutter-ss);
  --gutter-large: var(--gutter-sm);
  --verpad-xs: var(--gutter-md);
  --verpad: var(--gutter-md);
  --verpad-md: var(--gutter-lg);
  --verpad-xl: var(--gutter-xl);
}
@media screen and (min-width: 480px) {
  :root {
    --gutter: var(--gutter-sm);
    --gutter-small: var(--gutter-xs);
    --gutter-large: var(--gutter-md);
  }
}
@media screen and (min-width: 720px) {
  :root {
    --gutter: var(--gutter-md);
    --gutter-small: var(--gutter-sm);
    --gutter-large: var(--gutter-lg);
  }
}
@media screen and (min-width: 960px) {
  :root {
    --gutter: var(--gutter-lg);
    --gutter-small: var(--gutter-md);
    --gutter-large: var(--gutter-xl);
  }
}
@media screen and (min-width: 720px) {
  :root {
    --verpad: var(--gutter-lg);
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --verpad: var(--gutter-xl);
  }
}

:root {
  --height-xs: 1rem;
  --height-sm: 1.5rem;
  --height-md: 2rem;
  --height-lg: 2.5rem;
  --height-xl: 3rem;
  --ftsize-ss: 0.625rem;
  --ftsize-xs: 0.75rem;
  --ftsize-sm: 0.875rem;
  --ftsize-md: 1rem;
  --ftsize-lg: 1.125rem;
  --ftsize-xl: 1.25rem;
  --ftsize-x2: 1.5rem;
  --ftsize-x3: 1.875rem;
  --ftsize-x4: 2.25rem;
  --ftsize-x5: 3rem;
  --ftsize-code: 0.875em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html,
body,
main {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--lh-normal);
  font-family: var(--font-sans);
  color: var(--fg-main);
  background: var(--bg-main);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
  outline: 0 !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

[hidden] {
  display: none !important;
}

template {
  display: none;
}

summary {
  display: list-item;
  cursor: pointer;
}

output {
  display: inline-block;
}

svg,
img {
  overflow: hidden;
  border-style: none;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p > img {
  display: inline-block;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
  border-radius: var(--radius, 4px);
}

pre {
  --pre-fg: var(--fg-tert);
  --pre-bg: var(--bg-tert);
  display: block;
  font-size: var(--ftsize-code);
  color: var(--pre-fg);
  background: var(--pre-bg);
  line-height: inherit;
}
pre code {
  display: block;
  color: inherit;
  font-size: inherit;
  word-break: normal;
  overflow: auto;
  padding: var(--gutter);
}

code {
  --code-fg: var(--color-blue-6);
  --code-bg: var(--color-gray-0);
  font-size: var(--ftsize-code);
  color: var(--code-fg);
  background-color: var(--code-bg);
  padding: 0 0.25em;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
.tm-dark code {
  --code-fg: var(--color-blue-3);
  --code-bg: var(--color-gray-9);
}

kbd {
  --kbd-fg: var(--color-gray-7);
  --kbd-bg: var(--color-gray-1);
  padding: 0.25em 0.125em;
  font-size: 0.875em;
  color: var(--kbd-fg);
  background-color: var(--kbd-bg);
  border-radius: 2px;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p,
ul[class], ol[class], li, dl, dd,
figcaption, blockquote, figure {
  margin: 0;
}

h1,
.h1 {
  margin: 0;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 300;
}

h2,
.h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
}

h3,
.h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

h4,
.h4 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
}

h5,
.h5 {
  margin: 0;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 500;
}

h6,
.h6 {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  --table-gutter: var(--gutter, 0.75rem);
  --table-spacer: var(--gutter-small, 0.5rem);
  --table-thcolor: var(--fg-tert);
  --table-bgcolor: var(--bg-secd);
  --table-bdcolor: var(--bd-main);
  border-collapse: collapse;
  border-radius: var(--radius);
  min-width: 100%;
}

caption {
  --tbcap-color: var(--fg-secd);
  padding-top: var(--table-spacer);
  padding-bottom: var(--table-spacer);
  color: var(--tbcap-color);
  text-align: left;
  caption-side: bottom;
}

thead,
tr:nth-child(even) {
  background-color: var(--table-bgcolor);
}

th {
  color: var(--table-thcolor);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
th:not([align]) {
  text-align: left;
}

th,
td {
  padding: var(--table-spacer) var(--table-gutter);
  border: 1px solid var(--table-bdcolor);
}

ul,
ol {
  padding: 0;
  padding-left: var(--gutter);
}

ul[class] {
  padding: 0;
  list-style: none;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: square;
}
ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-roman;
}
ol ol ol {
  list-style-type: lower-alpha;
}

li {
  padding: 0;
}
li + li {
  margin-top: var(--verpad);
}
ul li, li li {
  margin-top: var(--verpad-sm);
}

dt ~ dt {
  margin-top: var(--verpad-sm);
}
dt dt {
  margin-top: 0;
}

dd {
  margin-left: var(--gutter);
}

a {
  touch-action: manipulation;
}

a[class] {
  text-decoration: none;
}

a:not([class]),
.m-link {
  color: var(--color-link);
  text-decoration: none;
}
a:not([class]):hover,
.m-link:hover {
  text-decoration: underline;
}

button,
button::-moz-focus-inner {
  border: 0 !important;
  outline: none !important;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  touch-action: manipulation;
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

[type=date],
[type=time],
[type=datetime-local],
[type=month],
[type=search],
textarea {
  -webkit-appearance: textfield;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}

hr {
  --fg-ruler: var(--bd-main);
  color: var(--fg-ruler);
  background: none;
  border: 0;
}
hr:not([size]) {
  height: 1px;
}

.m-article > * + * {
  margin-top: var(--gutter-large);
  margin-bottom: 0;
}
.m-article > h1,
.m-article > h2 {
  margin-bottom: var(--gutter-large);
  position: relative;
}
.m-article > h1:after,
.m-article > h2:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  background: var(--bd-cert);
}

.m-button {
  --fgcolor: var(--fg-tert);
  --bgcolor: var(--bg-secd);
  --bghover: var(--bg-tert);
  --height: 2.25rem;
  --gutter: var(--gutter-xs);
  --ftsize: var(--ftsize-sm);
  --innerh: calc(var(--height) - var(--gutter) - var(--gutter));
  color: var(--fgcolor);
  background: var(--bgcolor);
  display: inline-flex;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border-radius: 6px;
  padding: var(--gutter);
  height: var(--height);
  line-height: var(--innerh);
  font-size: var(--ftsize);
}
.m-button:hover {
  background: var(--bghover);
}
.m-button:disabled, .m-button._disable {
  color: var(--fg-mute);
  background-color: var(--bg-mute);
}
@media (hover: hover) {
  .m-button:disabled:hover, .m-button._disable:hover {
    cursor: text;
  }
}
.m-button > span {
  margin: 0 var(--gutter-ss);
}
.m-button > svg,
.m-button > img {
  width: var(--innerh);
  height: var(--innerh);
}

.btn-sm {
  --height: 2rem;
  --gutter: var(--gutter-ss);
  --ftsize: var(--ftsize-xs);
}

.btn-lg {
  --height: 3rem;
  --gutter: var(--gutter-sm);
  --ftsize: var(--ftsize-md);
}

.m-button._primary {
  --fgcolor: var(--primary);
  --bgcolor: var(--primary);
  --bghover: var(--primary);
}

.m-button._line {
  --linesd: 0 0 0 1px var(--bd-main) inset;
  box-shadow: var(--linesd);
}
.m-button._line._primary {
  --linesd: 0 0 0 1px var(--primary) inset;
}

.m-button._solid {
  --fgcolor: var(--bg-main);
}
:global(.tm-dark) .m-button._solid, .m-button._solid:global(.tm-dark) {
  --fgcolor: var(--fg-main);
}
.m-button._solid._primary {
  --bgcolor: var(--primary);
  --bghover: var(--primary);
}
.tm-dark .m-button._solid._primary {
  --fgcolor: var(--primary);
  --bgcolor: var(--primary);
  --bghover: var(--primary);
}

.m-input {
  --inp-height: var(--height-md);
  display: block;
  position: relative;
  width: 100%;
  height: var(--inp-height);
  padding: var(--gutter-xs) var(--gutter-md);
  line-height: 1.5rem;
}
.m-input > .-inp {
  border: 0;
  outline: 0;
  border-radius: 6px;
  --linesd: 0 0 0 1px var(--bd-main) inset;
  box-shadow: var(--linesd);
}
.m-input > .-inp:focus {
  --linesd: 0 0 0 1px var(--primary) inset;
}
@media (hover: hover) {
  .m-input > .-inp:hover {
    --linesd: 0 0 0 1px var(--primary) inset;
  }
}
.m-input > .-inp:focus {
  --ringsd: 0 0 0px 2px var(--primary);
  box-shadow: var(--ringsd), var(--linesd);
}
.m-input > .-inp::placeholder {
  font-style: italic;
  color: var(--fg-tert);
}
.m-input > .-ico {
  position: absolute;
  top: 0;
  bottom: 0;
}

.inp-sm {
  --inp-height: var(--height-sm);
}

.inp-lg {
  --inp-height: var(--height-lg);
}

.m-icon {
  --icon-size: 1em;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.icon-sm {
  --icon-size: 1rem;
}

.icon-md {
  --icon-size: 1.25rem;
}

.icon-lg {
  --icon-size: 1.5rem;
}

.icon-lg {
  --icon-size: 2rem;
}

[data-tip] {
  position: relative;
}
[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  left: 0;
  bottom: 100%;
  padding: 0.25rem 0.375rem;
}
@media (hover: hover) {
  [data-tip]:hover:after {
    display: flex;
    flex-wrap: nowrap;
    color: var(--color-gray-0);
    background: var(--color-gray-8);
  }
}

[data-kbd] {
  position: relative;
}
[data-kbd]:after {
  display: none;
  content: attr(data-kbd);
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
  padding: 0 0.25rem;
  overflow: hidden;
  text-align: baseline;
  line-height: var(--lh-packed, 1rem);
  font-size: var(--font-size-sm);
  color: var(--color-gray-6);
  background: var(--color-yellow-1);
  text-transform: uppercase;
  font-weight: 500;
}
@media (hover: hover) {
  [data-kbd]:hover:after {
    display: inline-block;
  }
}

.app-header {
  transition: transform 100ms ease-in-out;
  will-change: transform;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0.375rem 0;
  color: #fff;
  background: var(--color-sky-8);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--linesd), var(--ringsd), var(--shadow);
}
.app-header._clear {
  transform: translateY(-3rem);
}
.app-header .-wrap {
  display: flex;
}
.app-header .-left,
.app-header .-right {
  display: flex;
  gap: var(--gutter-xs);
}
.app-header .-left {
  flex-grow: 1;
}
.app-header .-right {
  padding-left: 0.375rem;
}

.header-item {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  outline: none;
  min-width: 2.25rem;
  text-decoration: none;
  user-select: none;
  padding: 0 0.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
  color: var(--neutral);
  border-radius: 6px;
  background-color: var(--sky);
}
.header-item:hover, .header-item._active {
  background-color: var(--sky);
}
.header-item:disabled {
  cursor: text;
  color: var(--fg-mute);
  background-color: var(--sky);
}
.header-item img,
.header-item svg {
  margin: 0.5rem 0;
  width: 1.25rem !important;
  height: 1.25rem !important;
}
.header-item img + .header-text,
.header-item svg + .header-text {
  margin-left: 0.25rem;
}

.header-text {
  font-weight: 500;
  font-size: var(--ftsize-md);
  letter-spacing: 0.05rem;
}
.header-text._show-sm {
  display: none;
}
@media screen and (min-width: 480px) {
  .header-text._show-sm {
    display: inline-block;
  }
}
.header-text._show-md {
  display: none;
}
@media screen and (min-width: 720px) {
  .header-text._show-md {
    display: inline-block;
  }
}
._brand .header-text {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header-text._title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 30vw;
}
@media screen and (min-width: 720px) {
  .header-text._title {
    max-width: 20vw;
  }
}
@media screen and (min-width: 960px) {
  .header-text._title {
    max-width: 15vw;
  }
}
.header-text._seed {
  max-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-field {
  position: relative;
  padding: 0;
  cursor: text;
  border-radius: 1.125rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.header-field > input {
  color: inherit;
  padding: 0 1rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1.125rem;
  background-color: var(--sky);
}
.header-field > input::placeholder {
  color: var(--color-gray-1);
}
.header-field > svg {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0.875rem;
  top: 0.625rem;
  width: 1.125rem;
  height: 1.125rem;
  color: var(--color-gray-4);
}

.header-menu {
  position: absolute;
  width: 12rem;
  padding: 0.5rem 0;
  top: 2.25rem;
  right: 0;
  background-color: var(--bg-main);
  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: var(--linesd), var(--ringsd), var(--shadow);
  border-radius: 6px;
  display: none;
}
.header-item:hover .header-menu {
  display: block;
}
.header-menu .-item {
  display: flex;
  padding: 0 0.25rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  border-top: 1px solid var(--gray);
  font-size: var(--ftsize-sm);
  color: var(--fg-tert);
}
.header-menu .-item:last-child {
  border-bottom: 1px solid var(--gray);
}
.header-menu .-item:hover {
  color: var(--sky);
  background-color: var(--bg-tert);
}
.header-menu .-item svg {
  margin: 0.5rem;
}
.header-menu .-item ._right {
  margin-left: auto;
}

article {
  padding: 1rem 0;
  overflow-wrap: break-word;
}

.md-article {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 6px;
}
.tm-dark .md-article {
  background-color: "var(--gray)";
}
.md-article > h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.md-article > * + * {
  margin-top: 1rem;
}
.md-article > h1,
.md-article > h2 {
  border-bottom: 1px solid "var(--gray)";
}

/*# sourceMappingURL=test.css.map */
